<% content_for :sidebar do -%>
	<% active = '' unless defined? active %>
	<h3>Documentation</h3>
	<ul class="nav">
	  <li><%= link_to "Intro", help_path, :class => "#{'active' if active=='intro'}" %></li>
	  <li><%= link_to "Tutorials", tutorial_path, :class => "#{'active' if active== 'tutorial'}" %></li>
		<li><%= link_to "FAQ", faq_path, :class => "#{'active' if active== 'faq'}" %></li>
    <li><%= link_to "Sitemap", sitemap_path, :class => "#{'active' if active == 'sitemap'}" %></li>
    <li><%= link_to "About", about_path, :class => "#{'active' if active == 'about'}" %></li>
	</ul>
	<%= link_to "Manual", manual_path, :class => 'link' %>

<% end %>