<%= render :partial => "sidebar", :locals => {:active => "about"} %>
<% content_for :top_bar do -%>
  <h1 class="pagetitle">About the Genome Suite</h1>
<% end -%>
<p>
	This application was created for the <%= link_to 'Great Lakes Bioenergy Research Center',"http://www.glbrc.org" %>
</p>
<p>
	The project started with a goal to help researchers interact with genomes and has expanded to include data analysis from high throughput samples. It is actively developed and maintained by the GLBRC IIT team as we work on new and improved methods for exploring these large data sets.
</p>

<p>
  This software is licensed under the TODO set license docs<br/>
  The most up to date source code and documentation can be found on the project homepage.<br/>
  <%= link_to "https://www.github.com/throwern/genome-suite", "https://www.github.com/throwern/genome-suite"%>
</p>
<h2 class="title">Contact</h2>
<p>
  For all questions and requests relating to GLBRC analysis tools please contact:
  
  <%= link_to 'helpdesk@glbrc.org', 'mailto:helpdesk@glbrc.org' %><br/><br/>
  
  Include the title 'Genome Suite' in your subject to route your e-mail to the correct team.
</p>


<h2 class="title">Acknowledgements</h2>

<p>
  <h3>AnnoJ</h3>
  The original project started with an exploration of the Anno-J (<%= link_to "www.annoj.org",'http://www.annoj.org/' %>) javascript based genome browser by J. Tonti-filippini. We had the pleasure of meeting and working with Julian and would like to thank him for his help and support.
</p>

<p>
  <h3>Bomhof Integrated</h3>
  We would also like to thank Drew Bomhof (<%= link_to "Bomhof Integrated", 'http://www.bomhofintegrated.com/' %>) for his consulting support and advice. Drew helped incorporate the javascript codebase into Rails and designed several new tracks within the Sequence Viewer.
</p>


<p>
  <h3>Icons</h3>
  Most of the icons used throughout this application are from the free silk set by <%= link_to "famfamfam", 'http://www.famfamfam.com/lab/icons/silk/' %>. However, the icons used to differentiate sample types are original artwork graciously provided by GLBRC team member Shane Cantu.
</p>

<p>
 <h3>Chart Colors</h3>
  This product includes color specifications and designs developed by Cynthia Brewer (<%= link_to "http://colorbrewer.org/", "http://colorbrewer.org/" %>).
  
</p>

