<%= render :partial => "biosql/feature/seqfeatures/feature_count_table", :locals => {:link_fmt => 'expression', :feature => feature} %>
<div class='clear'>
  <div class="border">
    <%= form_tag seqfeature_path(feature), :method => :get do %>
    <%= hidden_field_tag :fmt, "expression" %>
    <% if defined? @fc_ids %>
      <% @fc_ids.each do |fc_id| %>
        <%= hidden_field_tag "fc_ids[]", fc_id %>
      <% end %>
    <% end %>
    <div style="text-align:center;width:100%"><b><%= feature.label %> Sample Expression</b> Series: 
    <%= select_tag :trait_type_id,
      options_from_collection_for_select(@trait_types, :id, :name, @trait_type_id),
      {:include_blank => "None", :onchange => "this.form.submit()"}
    %>
    </div>
    <% end %>
    
    <br/>
    <%= render :partial => "shared/expression_chart", :locals => {
      :data => feature_counts_seqfeature_path(feature,
        :format => :json,
        :group_trait => @trait_type_id,
        :fc_ids => @fc_ids )
      } %>

  </div>
  
  <div class="border" style="overflow:hidden">
    <h2>Density of Aligned Reads</h2>
    <%= render :partial => "shared/base_count_chart", :locals => {
      :data => base_counts_seqfeature_path(feature,:format => :json, :fc_ids => @fc_ids),
    } %>
  </div>
</div>

