<div style="float:right;font-size:120%" id="format_links">
    <%= feature_format_link(@seqfeature,'standard',"Standard",@format) %>
    <%= feature_format_link(@seqfeature,'genbank',"Genbank",@format) %>
    <% if @seqfeature.feature_counts.accessible_by(current_ability).count>0 %>
      <%= feature_format_link(@seqfeature,'expression',"Expression",@format) %>
      <%= feature_format_link(@seqfeature,'coexpression',"Co-Expression",@format) %>
    <% end %>
    <% if @seqfeature.bioentry.assembly.variants.count > 0 %>
      <%= feature_format_link(@seqfeature,'variants',"Variants",@format) %>
    <% end %>
    <% if @seqfeature.blast_iterations.count > 0 %>
      <%= feature_format_link(@seqfeature,'blast',"Blast",@format) %>
    <% end %>
    <%= feature_format_link(@seqfeature,'history',"History",@format) %>
    <%= feature_format_link(@seqfeature,'edit',"Edit",@format) %>
</div>