<% content_for :head do %>
	<%= render :partial => "shared/extjs_css" %>
	<%= render :partial => "shared/svjs_css" %>
	<%= render :partial => "shared/extjs" %>
	<%= render :partial => "shared/svjs" %>
<% end %>

<div class="clear">
  <%= link_to ' View parent Gene ', seqfeature_path(feature.gene_model.gene) if (feature.respond_to?(:gene_model) && feature.gene_model) %><br/>
  <!-- Graphic Gene-->
	<div class="border" style="overflow:hidden">
	  <%= number_line(@view_start, @canvas_width, {:height => 40,:per_pixel => (@bases/@pixels.to_f)}) %>
		<%= "#{@bases}:#{@pixels}" %>
		<%= render :partial => 'graphic' %>
	</div>
	
	<!-- Attributes -->
	<% @ontologies.each do |ont| %>
  	<% ont_features = @seqfeature.qualifiers.with_ontology(ont.id) %>
  	<% if ont_features.first %>
    	<div class="border">
        <h2> <%= ont.name %> </h2>
        <table>
      	  <% ont_features.each do |qual| %>
      	    <tr class=<%= cycle("odd","even") %>>
              <td class="keyword"><%= qual.name  %></td>
              <td style="overflow:hidden"><%= qual.to_s.html_safe %></td>
            </tr>
      	  <% end %>
      	</table>
  	  </div>
  	<% end %>
	<% end %>
  <!-- Location -->
  <div class="border">
    <h2>Location(s)</h2>
    <table>
      <tr class=<%= cycle("odd","even") %>>
        <td class="keyword">Start Position</td>
        <td><%= @seqfeature.min_start %></td>
      </tr>
      <tr class=<%= cycle("odd","even") %>>
        <td class="keyword">End Position</td>
        <td><%= @seqfeature.max_end %></td>
      </tr>
    </table>
  </div>
  <!-- Sequence -->
  <div class="border">
    <% na_seq = @seqfeature.na_sequence %>
    <h2>Sequence: <%= na_seq ? na_seq.size : 0 %>bp
      <%= render :partial => "blasts/link_with_sequence", :locals => {:sequence => na_seq, :desc => "#{@seqfeature.label} NA sequence"} %>
    </h2>
    <table>
      <tr class='odd'>
        <td style="font-family:'Courier';"><pre style="overflow-x:scroll"><%= formatted_sequence(@seqfeature.na_sequence[0..10000],{:rows => 10, :delimiter => "\n"}) %></pre></td>
        <% if na_seq.length > 10000 %>
          <%= number_with_delimiter(na_seq.length-10000) %>bp truncated...
        <% end %>
      </tr>
    </table>
    <% if @seqfeature.class==Biosql::Feature::Cds %>
      <% if na_seq.length > 10000 %>
        Too large for protein translation..
      <% else %>
        <% protein_seq = @seqfeature.protein_sequence%>
        <h2>
          Protein: <%= protein_seq ? protein_seq.size : 0 %>aa 
          <%= render :partial => "blasts/link_with_sequence", :locals => {:sequence => protein_seq, :desc => "#{@seqfeature.label} Protein sequence"} %>
        </h2>
        <table>
          <tr class='odd'>
            <td style="font-family:'Courier';"><pre style="overflow-x:scroll"><%= formatted_sequence(@seqfeature.protein_sequence,{:rows => 10, :delimiter => "\n"}) %></pre></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
</div>