<% @variant_window||=0 %>
<div style="float:left;width:650px">
<p>The entries below correspond to each Variant Sample (SNP, Indel) uploaded for this sequence. The nucleic and protein sequence are computed from the data in each Sample. Click <%= link_to "here",details_variants_path,:popup => true %> for details.</p>
<p>
  You can choose the number of flanking upstream and downstream bases displayed.
  <%= select_tag :window,
    options_for_select([0,100,500,1000],@variant_window),
    :onchange => "window.location='#{seqfeature_path(@seqfeature,
      :fmt => 'variants',
      :v_fmt => @variant_format)}&v_win='+this[this.selectedIndex].value"
  %>
</p>
</div>

<div id="variants_text" class="clear">
  <% @seqfeature.bioentry.assembly.variants.each do |variant| %>
    <% unless variant.get_data(variant.sequence_name(@seqfeature.bioentry_id),@seqfeature.min_start,@seqfeature.max_end,{:only_variants => true, :limit => 1}).size > 0 %>
      <div class  = "border">
        <h1 class="pagetitle" style="font-size:130%"><%= variant.name %></h2>
        No change
      </div>
      <% next %>
    <% end %>
    <% variant.samples.each do |sample| %>
        <div class = "border">
          <h1 class = "pagetitle" style="font-size:150%">
            <%= variant.name %>::<%= sample %> 
          </h1>
          <pre style="font-size:110%;overflow-x:auto;width:80%;word-wrap:break-word;">
<%= @seqfeature.fasta_header(@variant_window) %>
<%= @seqfeature.variant_na_sequence(variant.id,{:window => @variant_window, :html => true, :sample => sample}).html_safe %>
          </pre>
          <% if @seqfeature.variant_protein_sequence(variant.id)%>
          <pre style="font-size:110%;overflow-x:auto;width:80%;word-wrap:break-word;">
<%= @seqfeature.fasta_header(@variant_window) %>
<%= @seqfeature.variant_protein_sequence(variant.id,{:window => @variant_window, :sample => sample}).html_safe%>
          </pre>
          <% end %>
      </div>
    <% end #sample%>
  <% end #variant%>
</div>
