<!-- TODO: add title() helper and name tabs -->
<% content_for :head do %>
	<%= render :partial => "common/extjs_css" %>
	<%= render :partial => "common/svjs_css" %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/svjs" %>
<% end %>

<%= content_for :sidebar do %>
	<%= render :partial => "biosql/feature/genes/sidebar", :locals => {:active => 'features'} %>
<% end %>

<% if @seqfeature %>
	<% content_for :top_bar do %>
		<h1 class="pagetitle">
			<%= "#{@seqfeature.display_type} : #{@seqfeature.label_type} #{@seqfeature.label} #{(@seqfeature.gene.nil? ? "" : " - "+@seqfeature.gene.value)}" %>
			<div style="float:right;font-size:50%;padding-top:1em">
				<%= @seqfeature.bioentry.display_info %>
			</div>
		</h1>
	<% end %>

	<% content_for :item_bar do -%>
		<div style="float:left">
			<%= link_to "New Feature", new_seqfeature_path, :class => "button" %>
			<%= link_to "Open Sequence Viewer", bioentry_path(@seqfeature.bioentry_id, :pos => @seqfeature.min_start,:feature_id => @seqfeature.id,:tracks => [@seqfeature.bioentry.assembly.six_frame_track.id,@seqfeature.bioentry.assembly.generic_feature_tracks.first.id]), :class => 'button' %>
		</div>
		<%= render :partial => 'format_links' %>
	<% end -%>

	<!-- Format -->
	<div id="<%= @format %>_format" style="clear:both;">
		<%= render :partial => @format, :locals => {:feature => @seqfeature} %>
	</div>

<% else %>
	<h1 class="pagetitle"><%= params[:id] %> </h1>
	<h3 style="color:darkred">No data found</h3>
<% end %>