<%= content_for :sidebar do %>
	<%= render :partial => "sidebar", :locals => {:active => 'features'} %>
<% end %>

<% if @seqfeature %>
  <% content_for :pagetitle do %> <%= "#{@seqfeature.display_type} : #{@seqfeature.label_type} #{@seqfeature.label}" %> <% end %>
	<% content_for :top_bar do %>
		<h1 class="pagetitle">
			<%= "#{@seqfeature.display_type} : #{@seqfeature.label_type} #{@seqfeature.label} #{(@seqfeature.gene.nil? ? "" : " - "+@seqfeature.gene.value)}" %>
			<div style="float:right;font-size:50%;">
				<%= @seqfeature.bioentry.display_info %><br/>
				<div style="font-size:75%">
				  <%= link_to "Open Sequence Viewer", bioentry_path(@seqfeature.bioentry_id,
				    :pos => @seqfeature.min_start,
				    :feature_id => @seqfeature.id),
				    :target => "_blank"
				  %> |
				  <%= link_to "Sequence Details", bioentry_path(@seqfeature.bioentry_id,
				    :fmt => 'genbank'),
			    :target => "_blank"%>
				</div>
			</div>
		</h1>
	<% end %>

	<% content_for :item_bar do -%>
		<div style="float:left">
			<%#= link_to "Open In Sequence Viewer", bioentry_path(@seqfeature.bioentry_id, :pos => @seqfeature.min_start,:feature_id => @seqfeature.id), :class => 'button' %>
		</div>
		<%= render :partial => 'format_links' %>
	<% end -%>
  
  <% if @seqfeatures.size > 1 %>
  	<% content_for :left_column do -%>
  		<div class="hb-green">Notice</div>
  		<div class="box-green">	
  			<h2 style="color:darkred;">Locus Tag Is Not Unique!</h2>
  			Alternate versions:
  			<p style="margin:.5em">
  				<% @seqfeatures.each do |feature| %>
  				  <% next if feature == @seqfeature%>
  					<%= link_to feature.bioentry.display_info, seqfeature_path(feature) %><br/><br/>
  				<% end %>
  			</p>
  		</div>
  	<% end -%>
  <% end %>
  
	<!-- Format -->
	<div id="<%= @format %>_format" style="clear:both;">
	  <% if @format=='standard' && @seqfeature.class == Biosql::Feature::Gene %>
		  <%= render :partial => "biosql/feature/genes/#{@format}", :locals => {:feature => @seqfeature} %>
		<% else %>
		  <%= render :partial => @format, :locals => {:feature => @seqfeature} %>
		<% end %>
	</div>

<% else %>
	<h1 class="pagetitle"><%= params[:id] %> </h1>
	<h3 style="color:darkred">No data found</h3>
<% end %>