<% content_for :top_bar do -%>
  <h1 class="pagetitle">Expression Viewer</h1>
<% end -%>

<%= render :partial => "sidebar", :locals => {:active => "expression"} %>

<% content_for :item_bar do -%>

<% end -%>

<p>
	This tool allows you to build matrices of expression data from RNA-Seq experiments. To get started select a Species and the experiment(s) you are interested in. More details can be found <%= link_to "here", details_tools_path %>.
</p>

<% form_tag expression_viewer_tools_path, :method => :get do %>
  <%= select_tag :taxon_version_id, options_from_collection_for_select(@taxon_versions, :id, :name_with_version, params[:taxon_version_id]),{:include_blank => "Select one...", :onchange => "this.form.submit()"} %>
<% end -%>
<br/><br/>
<div id="form_field">
	<% if @experiment_options %>
		<%= render :partial => 'expression_viewer_form'%>
	<% end %>
	  <div id="expression_results">
	    <% if @results%>
	      <%=  %>
	    <% end %>
	  </div>
</div>
