<% content_for :top_bar do -%>
  <h1 class="pagetitle">Variant Genes</h1>
<% end -%>

<%= render :partial => "sidebar", :locals => {:active => "smooth"} %>

<% content_for :item_bar do -%>
  <p>
		This tool queries Gene Models and Sequence Variants to find associations. Choose the taxonomy you would like to query and create two experiment sets by selecting from lists below. This tool will report genes that have at least 1 change in all Set A experiments and no change in any set B experiment. 
	</p>
<% end -%>

<% form_tag request.path, :method => 'get' do %>
  <%= label_tag :taxonomy %><br/>
  <%= select_tag(:taxon_version_id, options_from_collection_for_select(@taxon_versions,:id,:name_with_version,params[:taxon_version_id]), {:'data-onchange' => variant_genes_tools_url, :'data-with' => 'taxon_version_id', :'data-element' => :exp_info} )%>
  <br/><br/>

<div id="exp_info" style="float:left">
  <%= render :partial => "variant_genes_experiments" %>
</div>

<div style="clear:both">
  <br/>
 <%= submit_tag :submit %>
</div>

<% end %>

<% unless @variant_genes.empty? %>
  <div id="results">
    <h2 class="title">Results</h2>
    <div class="digg_pagination">
      <%= will_paginate @variant_genes %>
    </div>
    <div class="table">
      <table class="listing">
      <thead>
        <th>Locus Tag</th>
        <th>Gene</th>
        <th>Start</th>
        <th>End</th>
        <th>Strand</th>
        <th>Sequence</th>
      </thead>
      <% @variant_genes.each do |gene_model| %>
        <tr>
          <td><%= link_to gene_model.display_name, gene_model.gene %></td>
          <td><%= gene_model.gene_name %></td>
          <td><%= gene_model.start_pos %></td>
          <td><%= gene_model.end_pos %></td>
          <td><%= (gene_model.strand == 1 ? '<span style="color:darkgreen">F</span>' : '<span style="color:darkred">R</span>').html_safe %></td>
          <td><%= link_to gene_model.bioentry.short_name, gene_model.bioentry, :pos => gene_model.start_pos, :gene_id => gene_model.gene_id, :target => gene_model.bioentry_id%></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
<% end %>