<% content_for :head do %>
	<%= stylesheet_link_tag 'sstree' %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/extjs_css_gray" %>
	<%= render :partial => "common/svjs_css" %>
	<%= javascript_include_tag 'sstree' %>
	
<% end %>

<% content_for :body_onload do -%>
	<%#= "document.getElementById('sstree-sequence').onselectstart = function() { return(false); };" %>
<% end %>

<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Sequence</h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
		<%#= link_to "Upload Sequence", send("new_bioentry_path"), :class => "button" %>
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "sidebar", :locals => {:active => 'listing'} %>
<% end %>

<p>
   Each species in the database is displayed below. Click the arrow next to an entry to list all of its sequence, or use the text field to search on name and description. Then, select a result to display the Sequence Viewer and load the entry. To view a tabular list of sequence for a species select the list icon. <%= image_tag("table.png") %>	
</p>
<br/>

<div class="table" id="sstree-sequence">
<table class="listing sstree">
	<thead >
		<th style="border:none;text-align:left" width="5%">Species</th>
		<th style="border:none;text-align:left" width="30%">Taxon</th>
		<th style="border:none;text-align:left" width="10%">Version</th>
		<th style="border:none" width="55%">Sequence</th>
	</thead>
	<% @bioentry_species.each_with_index do |species, species_idx| %>
	<% id = species_idx + 1  %>
	<tr id="<%= id %>" class="one">
		<td colspan="2">
			<div class="tier1">
				<a id="a_<%= id %>" style="width:32px;height:32px" class="folder-open" name="<%= id %>"href="#<%= id %>" onclick="toggleRows(this);return false"></a>
				<%= species.scientific_name.name %>
			</div>
		</td>
		<td></td><td></td>
	</tr>
			<% species.species_versions.each_with_index do |t_version, v_idx| %>
				<% id = "#{species_idx + 1}-#{v_idx + 1}" %>
				<tr id="<%= id %>" class="item">
					<td colspan="2"style="text-align:center">
					  <div class="tier4">
					    <a name="<%= id %>" href="#<%= id %>" ></a>
					  </div>
					  <%= t_version.name %>
					</td>
					<td style="text-align:left">
						<%= t_version.version %>
					</td>
					<td style="text-align:left">
              <% unless t_version.bioentries.blank? %>
					      <%= remote_search(t_version.id,"taxon_versions.json","taxon_version_#{t_version.id}_search") %>
					    <% end %>
					    <%= link_to image_tag("table.png", :style => "padding:0px 1px 0px 5px"), t_version, :target => :blank %> 
					    (<%= t_version.bioentries.count %>)     
					</td>
				</tr>
		<% end %>
	<% end %>
</table>
</div>
<script type="text/javascript">

Ext.onReady(function(){
  //Define Model
  Ext.define('GeneSearchResult',{
    extend : 'Ext.data.Model',
    fields: [
    {name: 'id', type:'int'},
    {name: 'accession', type:'string'},
    {name: 'name', type: 'string'},
    {name: 'length', type: 'int'},
    {name: 'reload_url',type:'string'}
    ]
  });
  
  // Add search boxes to each row
  items = document.getElementsByClassName('remote_search');
  Ext.each(items,function(){
    renderSearchBox(this.readAttribute('data-item'),this.readAttribute('data-url'),this.id)
  })
  
});      

function renderSearchBox(taxon_version_id, searchURL,searchDiv,searchString){
  var ds = Ext.create('Ext.data.Store',{
    model: 'GeneSearchResult',
    pageSize : 10,
    proxy : {
      type : 'ajax',
      url : searchURL,
      reader:{
        type : 'json',
        root : 'rows',
        totalProperty : 'count',
        id : 'id'
      },
      extraParams : {
        taxon_version_id  : taxon_version_id
      }
    },

  });

  var search = new Ext.form.ComboBox(
    {
      store       : ds,
      valueField  : 'id',
      width       : 300,
      queryDelay  : 500,
      minChars    : 1,
      hideTrigger : false,
      pageSize    : 10,
      renderTo    : searchDiv,
      emptyText   : searchString,
      listConfig  : {
        loadingText  : 'Searching...',
        getInnerTpl: function() {
          return '<div class="drop_list"><div style="float:left"><b>{accession}:</b>({length})</div><div style="float:right"><b>{name}</b></div><br/></div>'
        }
      },			
      listeners : {

        beforequery:function(queryEvent){
          //Hack fix for missing query param: http://www.sencha.com/forum/showthread.php?134592-EXTJSIV-2470-4.0.1-ComboBox-not-issuing-queryParam-on-paging-requests
          queryEvent.combo.store.proxy.extraParams.query = queryEvent.combo.getValue();
        },
        change:function(combo){
          combo.store.currentPage = 1;
        },
        select : function(box, items)
        {
          record = items[0] //we only allow single selection
          window.open(record.data.reload_url+"/"+record.data.id,record.data.id+"_sequence")
        }
      }
    });
  }
</script>