<% content_for :head do %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/extjs_css_gray" %>
<% end %>

<div id="graphics_container">
  <%= render :partial => 'experiments/bioentry_select', :locals => {:experiment => @chip_chip, :bioentry => @bioentry} %>
  View this in <%= link_to "Sequence Viewer", bioentry_path(@bioentry, :tracks => [@chip_chip.assembly.tracks.first.id] )%>
  <div id='exp_chart'>
  	<%= swf_tag "mixed_plot.swf", 
  		:id => "#{@chip_chip}_#{@bioentry.bioentry_id}_plot", 
  		:size => "600x300", 
  		:flashvars => {
  			:checklabel => "Show Peaks", 
  			:pointseries => "Peaks", 
  			:lineseries => "Tag Count",
  			:entry_id => @bioentry.id,
  			:id => @chip_chip.id,
  			:local_url => "#{root_path}chip_chips/"
  		} %>
  </div>
</div>