<% content_for :head do %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/extjs_css_gray" %>
<% end %>

<% unless @bioentry.nil? %>
  <div id="graphics_container">
    <%= render :partial => 'biosql/bioentries/form_select', :locals => {:reload_path => url_for(@chip_chip), :bioentry => @bioentry} %>
    View this in <%= link_to "Sequence Viewer", bioentry_path(@bioentry, :tracks => @chip_chip.tracks.map(&:id) )%>
    <div id='sample_chart'>
    	<%= swf_tag "mixed_plot.swf", 
    		:id => "#{@chip_chip}_#{@bioentry.bioentry_id}_plot", 
    		:size => "600x300", 
    		:flashvars => {
    			:checklabel => "Show Peaks", 
    			:pointseries => "Peaks", 
    			:lineseries => "Tag Count",
    			:entry_id => @bioentry.id,
    			:id => @chip_chip.id,
    			:local_url => "#{root_path}chip_chips/"
    		} %>
    </div>
  </div>
<% else %>
  <span style="color:darkred">! No Bioentries found for assembly: <%= @chip_chip.assembly.name_with_version %></span><br/>
<% end %>
