<% content_for :top_bar do -%>
	<h1 class="pagetitle">New Chip Chip Experiment</h1>
<% end -%>
<%= render :partial => "experiments/sidebar" %>
<%= error_messages_for :chip_chip %>

<% form_for @chip_chip, :html => {:multipart => true} do |f| %>
	<%= render :partial => 'experiments/form', :locals => {:f => f} %>
	<br/>
	<%= render :partial => 'experiments/file_form', :locals => {:f => f} %>
	<div style="clear:both">
		<br/>
		<%= f.label "Show negative values?" %>
		Yes <%= f.radio_button :show_negative, "true"%>
		No <%= f.radio_button :show_negative, "false", :checked => ((@chip_chip.show_negative != 'true') ? true : '')%><br/>
		<br/><hr/><br/><br/>
		<%= f.submit "Upload Experiment", :class => "button" %>
	</div>

<% end %>
<div style="float:right;padding-right:1em">
<%= link_to "Back", chip_chips_path, :class => "button" %>
</div>