<%= form_for sample, :html => {:multipart => true} do |f| %>
  <% #TODO: convert sample form to semantic form %>
  <div class="form_item">
    <h3>Metadata</h3>
    <% if current_user.is_admin? && ! sample.new_record? %>
      <b>Owner:</b><%= f.collection_select :user_id, User.all, :id, :login %>
      <br/><br/>
    <% elsif ! sample.new_record? %>
      <b>Owner:</b> <%= sample.user.login %>
    <% end %>
    <% if current_user==sample.user || sample.new_record? %>
      Choose a unique name for your sample. Try to keep it concise.<br/>
      <%= f.text_field :name, :size => 65%>
      <br/><br/>
      Which group will be able to view this data.<br/>
      <%= f.collection_select :group_id, Group.accessible_by(current_ability), :id, :name %><br/>
    <% else %>
      <b>Name:</b> <%= sample.name %>
      <br/><br/>
      <b>Group:</b> <%= sample.group.try(:name) %>
      <br/>
    <% end %>
    <br/>
    Enter any descriptive information you would like to remember.<br/>
    <%= f.text_area :description, :rows => "7" %><br/>
    <br/>
    <div id="sample_traits" style="clear:both;">
      <span style="float:right;margin-right:1em"><%= link_to "Manage Selections", biosql_ontology_path(Biosql::Term.sample_ont_id), :target => "_blank" %></span>
      <span style="float:left;width:5em">Add Traits</span>
      <%= link_to_add_fields image_tag("add.gif", :alt => "Add Trait", :style => "float:left"),
        f, :traits, {:render => "below",:partial => "samples/trait_fields"}
      %>
      <br style="clear:both"/>
      <hr/>
      <%= f.fields_for :traits do |trait| %>
        <%= render :partial => "samples/trait_fields", :locals => {:f => trait} %>
      <% end %>
    </div>
    <%# There is no sample specific metadata %>
    <%#= render :partial => "metadata", :locals => {:f => f} rescue nil%>
    <br/>
  </div>

  <div class="form_item">
    <h3>Sequence Data</h3>
    <div style="float:left">
      Assembly<br/>
      <%= f.collection_select :assembly_id, @assemblies, :id, :name_with_version,{},
        {'data-onchange' => concordance_sets_assemblies_url, :'data-params' => "sample_type=#{sample.class.name.underscore}",:'data-with' => :assembly_id, :'data-element' => :concordance_selection}
      %><br/>
      <br/>
      Concordance Set<br/>
      <div id='concordance_selection'>
        <%= render :partial => "assemblies/concordance_set_selection", 
          :locals => {:sample_type => sample.class.name.underscore, :concordance_sets => (sample.assembly||@assemblies.first).concordance_sets} 
        %>
      </div>
      <br/>
    </div>  
  </div>

  <div class="form_item">
    <%= render :partial => "form_options", :locals => {:f => f} rescue nil%>
  </div>

  <div class="form_item">
      <h3 style="float:left;width:8em">Asset File(s)</h3>
      <% if current_user==sample.user || sample.new_record? %>
        <%= link_to_add_fields image_tag("add.gif", :title => "Add another File", :style => "float:left"),
          f, 
          :assets,
          {:render => "below",:partial => "samples/asset_fields", :locals => {:asset_types => sample.asset_types} }
        %>
        <%= f.fields_for :assets do |asset| %>
          <%= render :partial => "samples/asset_fields", :locals => {:asset_types => sample.asset_types,:f => asset} %>
        <% end %>
      <% else %>
      <br style='clear:both'/>
        <% sample.assets.order(:type).each do |asset| %>
          <b><%= asset.type %>:</b> <%= link_to asset.filename,asset_path(asset) %>
          <br/>
        <% end %>
      <% end %>
  </div>

  <div style="clear:both">
    <br/><hr/><br/><br/>
    <%= f.submit "#{sample.persisted? ? 'Update' : 'Create'} Sample", :class => 'button' %>
  </div>
    
<% end %>
  