<%= stylesheet_link_tag 'sstree' %>
<%= javascript_include_tag 'sstree' %>

<% content_for :body_onload do -%>
  <%= "showAllRows();" %>
  <%= "document.getElementById('sstree-sample').onselectstart = function() { return(false); };" %>
<% end %>

<% content_for :item_bar do %>
    <div style="float:left">
    <% if can? :create, Sample.new %>
      <%= link_to "New Sample", send("new_#{sample_type}_path"), :class => "button" %>
    <% end %>
    <%= link_to "Details", send("details_#{sample_type}s_path"),:class => "button" %>
    <%= link_to_function "Show All", "showAllRows();" %>
    <%= link_to_function "Collapse All", "collapseAllRows();" %>
    <%= form_tag send("#{sample_type}s_path") , :method => :get %>
      </div>
      <div style="float:right;padding-left:1em"><%= submit_tag "Go", :class => "button"%></div>
      <div style="float:right">Search: <%= text_field_tag :query, params[:query] %></div>
    </form>
<% end %>

<div class="table">
<table id="sstree-sample" class="listing sstree">
  <thead>
    <th class="top" style="border:none" width="55%">Name</th>
    <th class="top" style="border:none" width="15%">Date</th>
    <th class="top" style="border:none" width="15%">Options</th>
  </thead>
    <!-- Taxon -->
    <% if @species.empty? %>
      <tr class="one" ><td><div class="tier1"><%= "No #{sample_type.camelize}'s found" %></div></td><td></td><td></td></tr>
    <% end %>
    <% @species.each_with_index do |s, s_idx| %>
    <% id = s_idx + 1  %>
      <tr id="<%= id %>" class="one">
        <td width="55%">
          <div class="tier1">
            <a id="a_<%= id %>" class="folder-open" name="<%= id %>"href="#<%= id %>" onclick="toggleRows(this);return false"></a>
            <%= s.scientific_name.name %>
          </div>
        </td>
        <td width="15%"></td>
        <td width="15%"></td>
      </tr>
      <!-- Taxon Version -->
      <% s.species_assemblies.accessible_by(current_ability).each_with_index do |t, t_idx| %>
      <% next if t.send(sample_type+'s').empty? %>
      <% id = "#{s_idx + 1}-#{t_idx + 1}" %>      
        <tr id="<%= id %>" style="display:none" class="two">
          <td>
            <div class="tier2">
              <a id="a_<%= id %>" class="arrow-open" name="<%= id %>" href="#<%= id %>" onclick="toggleRows(this);return false"></a>
              <%= t==s ? "Generic Strain" : t.name_with_version %>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <!-- Sample -->
        <% t.send(sample_type+'s').accessible_by(current_ability).each_with_index do |sample, sample_idx| %>
        <% next if params[:query] && !(sample.name=~/#{params[:query]}/) %>
        <% id = "#{s_idx + 1}-#{t_idx + 1}-#{sample_idx + 1}" %>
          <tr id="<%= id %>" style="display:none" class="item">
            <td>
              <div class="tier4">
                <a name="<%= id %>" href="#<%= id %>" ></a>
                <%= link_to sample.name.gsub(/(.{22})/,'\1 '), send("#{sample_type}_path",sample) %>
            </div>
            </td>
            <td><%= sample.created_at.strftime("%D") %></td>
            <td>
              <div style="float:right;">
                <span style="float:left;padding-right:1em;font-size:80%;color:darkblue"><%= sample.state.camelize unless (sample.state.nil? || sample.state == "ready" || sample.state == 'complete') %></span>
                <% if can? :edit, sample %>
                  <div style="float:left"><%= link_to image_tag("page_white_edit.png",:alt => "Edit Sample", :style => "border:0px"), send("edit_#{sample_type}_path",sample) unless sample.state == 'loading'%></div>
                <% end %>
                <% #leaving the delete link out while finalizing view structure %>
                <!-- <%# if can? :delete, sample %>
                  <div style="float:right;padding-left:1em;"><%#= link_to image_tag("delete.png",:alt => "Delete Sample",:style => "border:0px"), send("#{sample_type}_path",sample), :method => 'delete', :confirm => "Remove sample: #{sample.name}? \n This CANNOT be undone." %></div>
                <%# end %> -->
              </div>
            </td>           
          </tr>
        <% end %>
      <% end %>
    <% end %>   
</table>
</div>