<% content_for :head do %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/extjs_css_gray" %>
<% end %>

<div id="graphics_container">
  <%= render :partial => 'biosql/bioentries/form_select', :locals => {:reload_path => url_for(@rna_seq), :bioentry => @bioentry} %>
  View this in the <%= link_to "Sequence Viewer", bioentry_path(@bioentry, :tracks => @rna_seq.tracks.map(&:id)) %>
  <div id='exp_chart'>
  	<%= swf_tag "mixed_plot.swf", 
  		:id => "#{@rna_seq}_plot", 
  		:size => "600x300", 
  		:flashvars => {
  			:lineseries => "Read Count",
  			:entry_id => @bioentry.id,
  			:id => @rna_seq.id, 
  			:local_url => "#{root_path}rna_seqs/"
  		} %>
  </div>
</div>
