<%= javascript_include_tag 'd3.v3.min' %>
<%= javascript_include_tag 'd3.linechart' %>
<style>
	path {
    fill: none;
	}
	.axis, .brush {
	  shape-rendering: crispEdges;
	}
	.x.axis line, .x.axis path {
    stroke: #000;
	}
	.y.axis line, .y.axis path {
    fill: none;
	  stroke: #000;
	}
	.y.brush line, .y.brush path {
    fill: none;
	  stroke: #000;
	}
  .extent {
    fill: rgba(150,150,150,0.5);
    stroke: rgba(0,0,0,0.6);
  }
  	div.tooltip {
      position: absolute;
      padding: 8px;
      font: 10px sans-serif;
      background: #ddd;
      border: solid 1px #aaa;
      border-radius: 8px;
      pointer-events: none;
      box-sizing:content-box;
      webkit-box-size:content-box;
    }
</style>
<p>
  <% unless @bioentry.nil? %>
    <%= render :partial => 'biosql/bioentries/form_select', :locals => {:reload_path => url_for(@synthetic), :bioentry => @bioentry} %>
    View this in the <%= link_to "Sequence Viewer", bioentry_path(@bioentry, :tracks => @synthetic.tracks.map(&:id)) %>
  <% else %>
    <span style="color:darkred">! No Bioentries found for assembly: <%= @synthetic.assembly.name_with_version %></span><br/>
  <% end %>
</p>
<br/>

<div id="graph" width="50%" style="height:300px;padding-top:1em"></div>
<b>Median: </b><%= @synthetic.median(@bioentry).round(4) %><br/>
<b>MAD: </b><%= @synthetic.median_absolute_deviation(@bioentry).round(4) %><br/>
<br/>
<p>
	<b>Operations:</b><br/>
	<%= nested_links(@synthetic) %>
</p>

<script type='text/javascript'>
  // Setup chart with handler
  var chart = d3.linechart({
    graph:'#graph',
    domaintype:'linear',
    mouseover: function(item,idx,div,x,y){
      div.html(
        "<b>"+item.data()[0]['name']+"</b>"+"<br/>Pos:"+(x.invert(d3.mouse(this)[0])|0)+"<br/>Value:"+y.invert(d3.mouse(this)[1]).toFixed(3)
      )
      .style("left", (d3.event.pageX - 90) + "px")
      .style("top", (d3.event.pageY - 45) + "px")
      .style("opacity",1)
    }
  });
  chart.render( <%= @synthetic.json_summary( :bioentry => @bioentry, :density => (params[:density]||500).to_i ).html_safe %> )
</script>