<%# content_for :head do -%>
  <%= javascript_include_tag 'd3.v3.min' %>
  <%= javascript_include_tag 'd3.gene_models_chart' %>
<%# end %>

<style>
	.x.axis line, .x.axis path {
	  fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
	}
	div.tooltip {
    position: absolute;
    padding: 8px;
    background: #ddd;
    border: solid 2px #aaa;
    border-radius: 8px;
    pointer-events: none;
    box-shadow:3px 3px 9px 1px #777;
  }
</style>
<%= link_to "Toggle Stacking", '#',:id => 'stacking' %>
<div id="gene_models_graphic" ></div>
<script type="text/javascript">

  // Setup chart with handler
  var gene_chart = d3.gene_models_chart({
    container:'#gene_models_graphic',
    min: <%= min %>,
    max: <%= max %>,
    lMargin: <%= defined?(lmargin) ? lmargin : 0%>,
    rMargin: <%= defined?(rmargin) ? rmargin : 0%>,
    featureIds: '<%= feature.gene_models.map(&:id).to_json %>',
    geneImg: '<%= image_path "models/bar.gif" %>',
    cdsImg: '<%= image_path "models/green.gif" %>',
    mrnaImg: '<%= image_path "models/red.gif" %>'
  });
  gene_chart.load('<%= datapath %>')


</script>