<b>Gene Model: <%=@gene_model.locus_tag+(@gene_model.variants==1 ? "" : ".#{@gene_model.rank.to_i}")%></b>&nbsp;&nbsp;
<hr/>
<div style="float:right"><%= link_to "more details...", gene_path(@gene_model.gene.id), :target => @gene_model.gene.id %></div>
<table>
  <tr><td>Location:</td><td> <%=@gene_model.start_pos.to_i%>,<%=@gene_model.end_pos.to_i%></td></tr>
  <tr><td>Strand:</td><td> <%=@gene.locations.first.strand==1 ? "Forward" : "Reverse"%> </td></tr>
  <%if @gene.gene%><tr><td>Gene:</td><td> <%=@gene.name%><%end%>
  <%unless @gene.gene_synonym %><tr> <td>Synonyms:</td><td> <%= @gene.gene_synonym %> </td></tr> <%end%>
  <%if @gene.product%><tr><td> Product:</td><td> <%=@gene.product.value%> </td></tr> <%end%>
  <% @gene.notes.each do |n|%>
    <tr><td>Note:</td><td><%=truncate(n.value,:length=>50)%></td></tr>
  <%end%>
  <% @gene.db_xrefs.each do |x|%>
    <tr><td>db_xref:</td><td><%=x.value.html_safe%></td></tr>
  <%end%>
  <% @ontologies.each do |ont| %>
    <% next unless @gene.qualifiers.with_ontology(ont.id).length > 0%>
    <tr></tr>
    <tr><td colspan=2 style="font-size:90%"><b><%= ont.name %></b></td></tr>
    <% @gene.qualifiers.with_ontology(ont.id).each do |qualifier|%>
      <% next if ['db_xref','note','product','gene','gene_synonym','locus_tag'].include? qualifier.term.name %>
      <tr><td><%= qualifier.term.name.capitalize %>:</td><td><%=truncate(qualifier.value,:length=>50)%></td></tr>
    <% end %>
  <% end %>
</table>

<% if @cds%>
	<br/><br/>
	<b>CDS</b><br/>
	<table>
	  <tr><td>Location:</td><td> <%=@cds.locations.collect(&:start_pos).min%>,<%=@cds.locations.collect(&:end_pos).max%></td></tr>
	  <%if @cds.protein_id%><tr><td>Protein:</td><td> <%=@cds.protein_id.value%></td></tr><%end%>
	  <%if @cds.product%><tr><td> Product: </td><td><%=@cds.product.value%></td></tr><%end%>
	  <% @cds.notes.each do |n|%>
	    <tr><td>Note:</td><td><%=truncate(n.value,:length=>50)%></td></tr>
	  <%end%>
	  <% @cds.db_xrefs.each do |x|%>
      <tr><td>db_xref:</td><td><%=x.value.html_safe%></td></tr>
    <%end%>
    <% @ontologies.each do |ont| %>
      <% next unless @cds.qualifiers.with_ontology(ont.id).length > 0%>
      <tr></tr>
      <tr><td colspan=2 style="font-size:90%"><b><%= ont.name %></b></td></tr>
      <% @cds.qualifiers.with_ontology(ont.id).each do |qualifier|%>
        <% next if ['db_xref','note','product','protein_id','locus_tag','translation'].include? qualifier.term.name %>
        <tr><td><%= qualifier.term.name.capitalize %>:</td><td><%=truncate(qualifier.value,:length=>50)%></td></tr>
      <% end %>
    <% end %>
	</table>
<% end %>

<% if @mrna%>
  <br/><br/>
  <b>mRNA</b><br/>
  <table>
    <tr><td>Location:</td><td><%=@mrna.locations.collect(&:start_pos).min%>,<%=@mrna.locations.collect(&:end_pos).max%></td></tr>
    <%if @mrna.transcript_id%><tr><td> Transcript:</td><td><%=@mrna.transcript_id.value%></td></tr><%end%>
    <%if @mrna.product%><tr><td>Product:</td><td><%=@mrna.product.value%><td></tr><%end%>
    <% @mrna.notes.each do |n|%>
      <tr><td>Note:</td><td><%=truncate(n.value,:length=>50)%></td></tr>
    <%end%>
    <% @mrna.db_xrefs.each do |x|%>
      <tr><td>db_xref:</td><td><%=x.value.html_safe%></td></tr>
    <%end%>
    <% @ontologies.each do |ont| %>
      <% next unless @mrna.qualifiers.with_ontology(ont.id).length > 0%>
      <tr></tr>
      <tr><td colspan=2 style="font-size:90%"><b><%= ont.name %></b></td></tr>
      <% @mrna.qualifiers.with_ontology(ont.id).each do |qualifier|%>
        <% next if ['db_xref','note','product','transcript_id','locus_tag'].include? qualifier.term.name %>
        <tr><td><%= qualifier.term.name.capitalize %>:</td><td><%=truncate(qualifier.value,:length=>50)%></td></tr>
      <% end %>
    <% end %>
  </table>
<% end %>