<div class="clear">
	<!-- Gene Details -->
	<div class="border">
	<h2>Gene</h2>
	<table>
		<% reset_cycle %>
		<% if @gene.gene %>
			<tr class=<%= cycle("odd","even") %>>
				<td class="keyword">Gene Name</td>
				<td><%= @gene.gene.value %></td>
			</tr>
		<% end %>
		<% if @gene.gene_synonym %>
		<tr class=<%= cycle("odd","even") %>>
			<td class="keyword">Other Names</td>
			<td><%= @gene.gene_synonym %></td>
		</tr>
		<% end %>
		<% products = [@gene.gene_models.collect(&:cds).compact.collect(&:product),@gene.product].flatten.compact.uniq %>
		<% products.each do |p| %>
		<tr class=<%= cycle("odd","even") %>>
			<td class="keyword">Product</td>
			<td><%= p.value%></td>
		</tr>
		<% end %>
		<% if @gene.function %>
		<tr class=<%= cycle("odd","even") %>>
			<td class="keyword">Function</td>
			<td><%= @gene.function.value%></td>
		</tr>
		<% end %>
		<tr class=<%= cycle("odd","even") %>>
			<td class="keyword">Start Position</td>
			<td><%= @gene.locations.first.start_pos %></td>
		</tr>
		<tr class=<%= cycle("odd","even") %>>
			<td class="keyword">End Position</td>
			<td><%= @gene.locations.first.end_pos %></td>
		</tr>
		<% unless @gene.db_xrefs.empty? %>
  		<tr class=<%= cycle("odd","even") %>>
  			<td class="keyword">External Reference(s)</td>
  			<td>
  			  <%= @gene.db_xrefs.map(&:value).join("<br/>").html_safe%>
  			</td>
  		</tr>
  	<% end %>
	</table>
	
	<%# unless @gene.notes.empty? %>
	<table>
	  <%= render :partial => "note_feature", :locals => {:f => @gene, :name => "Notes"} %>
	  </table>
	<%# end %>
	</div>
	
	<!-- Graphic Gene-->
	<div class="border" style="overflow:hidden">
		<%= render :partial => 'graphic' %>
	</div>
	<!-- Gene Models -->
	<% if @gene.gene_models.size > 1 %>
		<div class="border">
			<h2>
				<%= "This locus has #{@gene.gene_models.size.to_s} gene models: #{@gene.gene_models.collect{|g| (link_to g.display_name, "##{g.display_name}")}.to_sentence}".html_safe %>
			</h2>
			<p class="caption" style="margin:0 0 0 1em"> *Gene suffixes do not correlate to any external database reference. They are generated for graphical disambiguation only.</p>
		</div>
	<% end %>
	
	<% @gene.gene_models.each do |gene_model| %>
		<h1 class="pagetitle" style="font-size:190%">
			<%= link_to_function(
				gene_model.display_name,
				"Ext.get('gene_model_#{gene_model.id}_data').setVisibilityMode(2).toggle();
				Ext.get('gene_model_#{gene_model.id}_hidden').setVisibilityMode(2).toggle();",
				{:name => gene_model.display_name,:style => "text-decoration:none;color:rgb(100,100,100);cursor:pointer;"})
			%>
		</h1>
		<%= link_to ' View detail data for mRNA ', seqfeature_path(gene_model.mrna) if gene_model.mrna %><br/>
    <%= link_to ' View detail data for CDS ', seqfeature_path(gene_model.cds) if gene_model.cds %>
		<div id="gene_model_<%= gene_model.id %>_hidden" style="display:none">
			<div class="border"><p>...</p></div>
		</div>
		<div id="gene_model_<%= gene_model.id %>_data">      
			<!-- Note Details -->
			<div class="border">
				<h2>Notes</h2>
				<table>
					<% reset_cycle %>
					<%= render :partial => "note_feature", :locals => {:f => gene_model.mrna, :name => "mRNA"} if gene_model.mrna%>
					<%= render :partial => "note_feature", :locals => {:f => gene_model.cds, :name => "CDS"} if gene_model.cds %>
				</table>
			</div>
			<!-- Sequence Details -->
			<% if gene_model.cds %>
				<div class="border">
					<h2>Sequence Details</h2>
					<table>
						<% reset_cycle %>
						<% if gene_model.mrna%>
						  <% if gene_model.mrna.transcript_id  %>
  							<tr class=<%= cycle("odd","even") %>>
  								<td class="keyword">Transcript ID</td>
  								<td><%=gene_model.mrna.transcript_id.value%></td>
  							</tr>
							<% end %>
							<% if gene_model.mrna.db_xrefs %>
  							<tr class=<%= cycle("odd","even") %>>
    							<td class="keyword">Transcript Reference(s)</td>
    							<td>
    							  <%= gene_model.mrna.db_xrefs.map(&:value).join("<br/>").html_safe%>
    							</td>
    						</tr>
    					<% end %>						
						<% end %>
						<tr class=<%= cycle("odd","even") %>>
							<td class="keyword">Gene Length</td>
							<% na_seq = gene_model.na_sequence %>
							<td><%= na_seq.size if na_seq %></td>
						</tr>
						<tr class=<%= cycle("odd","even") %>>
							<td class="keyword">NA Sequence<br/>
							  <%= render :partial => "blasts/link_with_sequence", :locals => {:sequence => na_seq, :desc => "#{gene_model.locus_tag} NA sequence"} %>
							</td>
							<td style="font-family:'Courier';"><pre style="overflow-x:scroll"><%= formatted_sequence(na_seq,{:rows => 10, :delimiter => "\n"}) %></pre></td>
						</tr>
						<% if gene_model.cds.protein_id %>
							<tr class=<%= cycle("odd","even") %>>
								<td class="keyword">Protein ID</td>
								<td><%= gene_model.cds.protein_id.value %></td>
							</tr>
						<% end %>
						<% if gene_model.cds.db_xrefs %>
							<tr class=<%= cycle("odd","even") %>>
  							<td class="keyword">Protein Reference(s)</td>
  							<td>
  							  <%= gene_model.cds.db_xrefs.map(&:value).join("<br/>").html_safe%>
  							</td>
  						</tr>
  					<% end %>
						
						<tr class=<%= cycle("odd","even") %>>
							<td class="keyword">Protein Length</td>
							<% p_seq = gene_model.protein_sequence %>
							<td><%= p_seq.size if p_seq %></td>
						</tr>
						<tr class=<%= cycle("odd","even") %>>
							<td class="keyword">Protein Sequence<br/>
							  <%= render :partial => "blasts/link_with_sequence", :locals => {:sequence => p_seq, :desc => "#{gene_model.locus_tag} Protein sequence"} %>
							</td>
							<td style="font-family:'Courier';"><pre style="overflow-x:scroll"><%= formatted_sequence(p_seq,{:rows => 10, :delimiter => "\n"}) %></pre></td>
						</tr>
					</table>
				</div>
			<% end %>
		</div>
	<% end %>
</div>