<% content_for :head do %>
	<%= render :partial => "common/extjs_css" %>
	<%= render :partial => "common/svjs_css" %>
	<%= stylesheet_link_tag 'formtastic', 'formtastic_overrides' %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/svjs" %>
<% end %>

<%= content_for :sidebar do %>
	<%= render :partial => "biosql/feature/seqfeatures/sidebar", :locals => {:active => ''} %>
<% end %>

<% if @gene %>
  <% content_for :pagetitle do %> <%= "#{@gene.display_type} : #{@gene.label_type} #{@gene.label}" %> <% end %>
	<% content_for :top_bar do %>
		<h1 class="pagetitle"> 
			<%= "Edit: " + @gene.locus_tag.try(:value) + (@gene.gene.nil? ? "" : " - "+@gene.gene.value) %>
			<div style="float:right;font-size:50%">
				<%= @gene.bioentry.display_info %><br/>
				<div style="font-size:75%">
				  <%= link_to "Open Sequence Viewer", bioentry_path(@gene.bioentry_id,
				    :pos => @gene.min_start,
				    :feature_id => @gene.id),
				    :target => "_blank"
				  %> |
				  <%= link_to "Sequence Details", bioentry_path(@gene.bioentry_id,
				    :fmt => 'genbank'),
			    :target => "_blank"%>
				</div>
			</div>
		</h1>
	<% end %>
	
	<% content_for :item_bar do -%>	
		<div style="float:left">
			<%#= link_to "New Gene", new_gene_path, :class => "button" %>
			<%#= link_to "Open Sequence Viewer", bioentry_path(@gene.bioentry,{:pos => @gene.min_start,:feature_id => @gene.id},:tracks => [@gene.bioentry.assembly.six_frame_track.id,@gene.bioentry.assembly.models_tracks.first.id]), :class => 'button'%>
		</div>
		<%= render :partial => 'biosql/feature/seqfeatures/format_links' %>
	<% end -%>
  <div style="float:left">
		With the gene editor you can manipulate all aspects of a stored Gene. Below you will find a graphical representation of the gene and a form with several items. Changes will be recorded in the database after you submit the form. For more information please read the Advanced Edit section of the <%= link_to "Gene Details", details_genes_path %> page.
	</div>
	<!-- Graphic Gene-->
	<% unless @view_start&&@canvas_width&&@gui_zoom %>
  	<div class="clear">
  		<div id="standard_format">
  			<div class="border" style="overflow:hidden">
  			  <% begin %>
  				<%= number_line(@view_start, @canvas_width, {:height => 40,:per_pixel => @gui_zoom}) %>
  				<%= @gui_zoom.to_s+ ":1" %>
  				<%= render :partial => 'graphic' %>
  				<% rescue %>
  				  Can't Render Graphic
  				<% end %>
  			</div>
  		</div>
  	</div>
	<% end %>
	<!-- Form -->
	<%= render :partial => 'form' %>
<% else %>
<h1 class="pagetitle">Edit:  No Gene Found</h1>
<% end %>