<% content_for :head do %>
	<%= render :partial => "shared/extjs_css" %>
	<%= render :partial => "shared/svjs_css" %>
	<%= stylesheet_link_tag 'formtastic', 'formtastic_overrides' %>
	<%= render :partial => "shared/extjs" %>
	<%= render :partial => "shared/svjs" %>
<% end %>

<%= content_for :sidebar do %>
	<%= render :partial => "biosql/feature/seqfeatures/sidebar", :locals => {:active => ''} %>
<% end %>

<% if @gene %>
  <% content_for :pagetitle do %> <%= "#{@gene.display_type} : #{@gene.label_type} #{@gene.label}" %> <% end %>
	<% content_for :top_bar do %>
		<h1 class="pagetitle"> 
			<%= "Edit: " + @gene.locus_tag.try(:value) + (@gene.gene.nil? ? "" : " - "+@gene.gene.value) %>
			<div style="float:right;font-size:50%">
				<%= @gene.bioentry.display_info %><br/>
				<div style="font-size:75%">
				  <%= link_to "Open Sequence Viewer", bioentry_path(@gene.bioentry_id,
				    :pos => @gene.min_start,
				    :feature_id => @gene.id),
				    :target => "_blank"
				  %> |
				  <%= link_to "Sequence Details", bioentry_path(@gene.bioentry_id,
				    :fmt => 'genbank'),
			    :target => "_blank"%>
				</div>
			</div>
		</h1>
	<% end %>
	
	<% content_for :item_bar do -%>	
		<div style="float:left">
			<%#= link_to "New Gene", new_gene_path, :class => "button" %>
			<%#= link_to "Open Sequence Viewer", bioentry_path(@gene.bioentry,{:pos => @gene.min_start,:feature_id => @gene.id},:tracks => [@gene.bioentry.assembly.six_frame_track.id,@gene.bioentry.assembly.models_tracks.first.id]), :class => 'button'%>
		</div>
		<%= render :partial => 'biosql/feature/seqfeatures/format_links' %>
	<% end -%>
  <div style="float:left">
		With the gene editor you can manipulate all aspects of a stored Gene. Below you will find a graphical representation of the gene and a form with several items. Changes will be recorded in the database after you submit the form. For more information please read the Advanced Edit section of the <%= link_to "Gene Details", details_genes_path %> page.
	</div>
	<!-- Graphic Gene-->
  <div class="clear">
  	<div class="border" style="overflow:hidden">
  	  <% offset = ((@gene.max_end - @gene.min_start)/2).ceil %>
  		<%= render :partial => 'biosql/feature/genes/graphic',
  		:locals => {
  		  :feature => @gene,
  		  min: @gene.min_start-offset,
  		  max: @gene.max_end+offset,
  		  :datapath => range_track_gene_models_path(
  		    {
  		      bioentry: @gene.bioentry_id,
  		      left: @gene.min_start-offset,
  		      right: @gene.max_end+offset
  		    }
  		  )
  		} %>
  	</div>
  </div>
	<!-- Form -->
	<%= render :partial => 'form' %>
<% else %>
<h1 class="pagetitle">Edit:  No Gene Found</h1>
<% end %>