<% content_for :head do -%>
	<%= stylesheet_link_tag 'formtastic', 'formtastic_overrides' %>
	<%= render :partial => "shared/extjs_css" %>
	<%= render :partial => "shared/extjs" %>
<% end -%>

<% content_for :sidebar do %>
	<%= render :partial => "biosql/feature/seqfeatures/sidebar", :locals => {:active => 'create'} %>
<% end %>

<% content_for :top_bar do%>
	<h1 class="pagetitle">Create New Gene</h1>
<% end %>

<% content_for :item_bar do -%>
	With this Form you can add gene models to the database. To get started, choose a Species and Sequence. For more information please read the New Gene section of the <%= link_to 'gene details', details_genes_path %> page.
<% end %>

<br/><br/>

  <%= form_tag new_gene_path, :method => :get do |f| -%>
    <%= select_tag :assembly_id,
      options_from_collection_for_select(@assemblies, :id, :name_with_version, @assembly.try(:id)),
      {:include_blank => "Select one...", :onchange => 'if (b=document.getElementById("bioentry_id")){b.selectedIndex = -1};this.form.submit()'}
    %>
    <br/>
    <br/>
    <% if(@assembly) %>
      <%= render :partial => 'biosql/bioentries/form_select', :locals => {:reload_path => new_gene_path, :bioentry => @bioentry} %>
    <% end %>
    
  <% end -%>


<div id="form_field">
	<% if @gene %>
		<%= render :partial => 'form' %>
	<% end %>
</div>

