<%= form_tag expression_advanced_results_path, :method => :get do %>
<%= hidden_field_tag :assembly_id, assembly.try(:id) %>
<%= hidden_field_tag :type_term_id, type_term_id %>
<div style="width:25em">
  <dl style="font-weight:bold;">
    <span style="float:left">Experiment</span>
    <span style="float:right">Set B</span>
    <span style="float:right;margin-right:2em">Set A</span>
  </dl>
  <% experiment_options.each do |experiment| %>
    <div style="clear:both;">
    	<span style="float:left">
    	  <%= experiment.name %>
    	</span>
    	<span style="float:right">
    	  <%= check_box_tag "b_experiments[]", experiment.id %>
    	</span>
    	<span style="float:right;margin-right:3em">
    	  <%= check_box_tag "a_experiments[]", experiment.id %>
    	</span>
    </div>
  <% end %>
  <hr/ style="clear:both">
  <br/>
  <%= submit_tag 'Submit', :style => "float:right"%>
</div>
<% end -%>