<%= form_tag expression_advanced_results_path, :method => :get do %>
<%= hidden_field_tag :assembly_id, assembly.try(:id) %>
<%= hidden_field_tag :type_term_id, type_term_id %>
Minimum for at least one Set A sample:
<%= select_tag :min_sample_value, options_for_select([0,10,50,100,500,1000,5000],(params[:min_sample_value]||50)) %>

<div style="width:25em">
  <dl style="font-weight:bold;">
    <span style="float:left">Sample</span>
    <span style="float:right">Set B</span>
    <span style="float:right;margin-right:2em">Set A</span>
  </dl>
  <% sample_options.each do |sample| %>
    <div style="clear:both;">
    	<span style="float:left">
    	  <%= sample.name %>
    	</span>
    	<span style="float:right">
    	  <%= check_box_tag "b_samples[]", sample.id, (params[:b_samples] && params[:b_samples].include?(sample.id.to_s)) %>
    	</span>
    	<span style="float:right;margin-right:3em">
    	  <%= check_box_tag "a_samples[]", sample.id, (params[:a_samples] && params[:a_samples].include?(sample.id.to_s)) %>
    	</span>
    </div>
  <% end %>
  <hr/ style="clear:both">
  <br/>
  <%= submit_tag 'Submit', :style => "float:right"%>
</div>
<% end -%>