<% content_for :top_bar do -%>
  <h1 class="pagetitle">Expression Viewer  - Ratio for: <%= @assembly.name_with_version %></h1>
<% end -%>

<% content_for :item_bar do -%>
  <%= link_to "Update Selection", expression_viewer_path, :class => "button" %>
  <%= render :partial => 'advanced_results_form' %>
<% end -%>

<% if @search.nil? %>
  No Results Found...
<% else %>
  <div class="pagination">
    <span style="float:left"><%= will_paginate(@search.hits) %></span>
    <span style="float:right;margin-right:2em"><%= number_with_delimiter(@search.total) %> Matching Results</span>
  </div>

  <div class="table">
    <table class="listing">
      <thead>
        <th style="white-space:nowrap"><%= sort_link "Locus", 'locus_tag_value' %></th>
        <th width="65%">Definition</th>
        <% @blast_runs.each do |blast_run| %>
          <th><%= sort_link blast_run.name, "blast_acc_#{blast_run.id}" %></th>
        <% end %>
        <th width="5%" style="white-space:nowrap"><%=sort_link 'Set A', 'exp_a', :title => @a_experiments.map(&:name).to_sentence %></th>
        <th width="5%" style="white-space:nowrap"><%=sort_link 'Set B', 'exp_b', :title => @b_experiments.map(&:name).to_sentence %></th>
        <th width="5%" style="white-space:nowrap"><%= sort_link "A / B", 'ratio' %></th>
        <th>Options</th>
      </thead>
      <% @search.each_hit_with_result do |hit,feature| %>
        <tr>
          <%= render :partial => "id_def_and_blast", :locals => {:hit => hit, :feature => feature, :experiments => @a_experiments+@b_experiments, :blast_runs => @blast_runs} %>
          <td><%= "%.0f" % (a_avg=@a_experiments.inject(0.0){|sum, exp| sum+=(hit.stored(:normalized_counts,"exp_#{exp.id}")||0)}/@a_experiments.length) %></td>
          <td><%= "%.0f" % (b_avg=@b_experiments.inject(0.0){|sum, exp| sum+=(hit.stored(:normalized_counts,"exp_#{exp.id}")||0)}/@b_experiments.length) %></td>
          <td><%= b_avg == 0 ? '&#8734'.html_safe : "%.2f" % (a_avg/b_avg) %></td>
          <td style="white-space:nowrap">
            <%= link_to 'Details', seqfeature_path(feature) %>
            |
            <%= link_to 'Graph', seqfeature_path(feature,:fmt => 'expression') %>
            |
            <%= link_to 'Browser', bioentry_path(feature.bioentry_id,{:pos => Array(hit.stored(:start_pos)).first,:tracks => [ :models_track, :generic_feature_track, (@a_experiments+@b_experiments).collect{|e| e.tracks.first.id} ].flatten.uniq,}) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= render :partial => "seqfeatures/ext_update_form" %>