<% content_for :top_bar do -%>
  <h1 class="pagetitle">Expression Viewer - Parallel Graph for: <%= @assembly.try(:name_with_version) %></h1>
<% end -%>

<% content_for :item_bar do -%>
  <%= link_to "Update Selection", expression_viewer_path(:samples => @samples,:assembly_id => params[:assembly_id],params[:fmt] => 'parallel'), :class => "button" %>
  <%#= link_to "Download", url_for( params.merge(:format=>:csv)), :class => "button" %>
  <%= render :partial => 'results_form' %>
<% end -%>

<% if @search.nil? %>
  No Results Found...
<% else %>
  <div class="pagination">
    <span style="float:left"><%= will_paginate(@search.hits) %></span>
    <span style="float:right;margin-right:2em"><%= number_with_delimiter(@search.total) %> Matching Results</span>
  </div>

  <div class="table">
    <table class="listing">
      <thead>
        <th style="white-space:nowrap"><%= sort_link "Locus", 'locus_tag_value' %></th>
        <th width="65%">Definition</th>
        <% @blast_runs.each do |blast_run| %>
          <th><%= sort_link blast_run.name, "blast_acc_#{blast_run.id}" %></th>
        <% end %>
        <% @samples.each do |sample| %>
          <th width="5%" style="white-space:nowrap" ><%=sort_link sample.name,"sample_#{sample.id}" %></th>
        <% end %>
        <th style="white-space:nowrap"><%= sort_link "Sum", 'sum' %></th>
        <th>Options</th>
      </thead>
      <%# @search.each_hit_with_result do |hit,feature| %>
      <%# end %>
    </table>
  </div>
<% end %>