<% content_for :top_bar do -%>
  <h1 class="pagetitle">Expression Viewer - Matrix for: <%= @assembly.name_with_version %></h1>
<% end -%>

<% content_for :item_bar do -%>
  <%= link_to "Update Selection", expression_viewer_path(:experiments => @experiments,:assembly_id => params[:assembly_id]), :class => "button" %>
  <%= render :partial => 'results_form' %>

<% end -%>

<% if @search.nil? %>
  No Results Found...
<% else %>
  <div class="pagination">
    <span style="float:left"><%= will_paginate(@search.hits) %></span>
    <span style="float:right;margin-right:2em"><%= number_with_delimiter(@search.total) %> Matching Results</span>
  </div>

  <div class="table">
    <table class="listing">
      <thead>
        <th style="white-space:nowrap"><%= sort_link "Locus", 'locus_tag_value' %></th>
        <th width="65%">Definition</th>
        <% @blast_runs.each do |blast_run| %>
          <th><%= sort_link blast_run.name, "blast_acc_#{blast_run.id}" %></th>
        <% end %>
        <% @experiments.each do |exp| %>
          <th width="5%" style="white-space:nowrap" ><%=sort_link exp.name,"exp_#{exp.id}" %></th>
        <% end %>
        <th style="white-space:nowrap"><%= sort_link "Sum", 'sum' %></th>
        <th>Options</th>
      </thead>
      <% @search.each_hit_with_result do |hit,feature| %>
        <tr>
          <%= render :partial => "id_def_and_blast", :locals => {:hit => hit, :feature => feature, :experiments => @experiments, :blast_runs => @blast_runs} %>
          <% sum = 0 %>
          <% @experiments.each do |exp| %>
            <td>
              <%= val = hit.stored(params[:value_type],"exp_#{exp.id}").round %>
              <% sum += (val||0) %>
            </td>
          <% end %>
          <td><%= sum %></td>
          <td style="white-space:nowrap">
            <%= link_to 'Details', seqfeature_path(feature) %>
            |
            <%= link_to 'Graph', seqfeature_path(feature,:fmt => 'expression') %>
            |
            <%= link_to 'Browser', bioentry_path(feature.bioentry_id,{:pos => Array(hit.stored(:start_pos)).first,:tracks => [ :models_track, :generic_feature_track, @experiments.collect{|e| e.tracks.first.id} ].flatten,}) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= render :partial => "seqfeatures/ext_update_form" %>