<% content_for :head do -%>
  <%= javascript_include_tag "jquery-latest.min.js" %>
<% end -%>

<% content_for :top_bar do -%>
  <h1 class="pagetitle">Expression Viewer</h1>
<% end -%>

<%= render :partial => "tools/sidebar", :locals => {:active => "expression"} %>

<% content_for :item_bar do -%>
<% end -%>
<p>
	This tool allows you to explore expression data from RNA-Seq samples. To get started select a Species and the sample(s) you are interested in. More details can be found <%= link_to "here", details_tools_path %>.
</p>
<% if @assemblies.empty? %>
  <p style='font-style:italic;color:darkred'>
    It looks like you don't have access to any expression data right now. Make sure you are a member of a group that has RNA-Seq samples with count data.
  </p>
<% end %>
<%= form_tag expression_viewer_path, :method => :get do %>
<div style="float:left">
  Assembly:<br/>
  <%= select_tag :assembly_id, options_from_collection_for_select(@assemblies, :id, :name_with_version, @assembly.try(:id)),{:onchange => "this.form.submit()"} %>
</div>

<div style="float:left;margin-left:1em">
  <% if @feature_types && @feature_types.facet(:type_term_id) && @feature_types.facet(:type_term_id).rows && @feature_types.facet(:type_term_id).rows.size > 1 %>
  Use:<br/>
  <%= select_tag :type_term_id, options_for_select(@feature_types.facet(:type_term_id).rows.map{|row| ["#{row.instance.name} - #{row.count}",row.value] },@type_term_id),{:onchange => "this.form.submit()"} %>
  <% end %>
</div>

<div style="float:left;margin-left:1em">
  Generate: <br/>
  <%= select_tag :form_type, options_for_select({'Matrix' => 'viewer', 'Ratio' => 'advanced_viewer'},params[:fmt]), :onchange => 'jQuery(".select_form").hide();$(this.value).show();' %>
</div>

<br style="clear:both"/>

<% end -%>
<br/><br/>
<hr/>
<div id="form_field">
  <div id='viewer' style="<%= params[:fmt]&&params[:fmt]=='viewer' ? '' : 'display:none' %>" class='select_form'>
	<% if @sample_options %>
		<%= render :partial => 'viewer_form', :locals => {:sample_options => @sample_options, :assembly => @assembly, :type_term_id => @type_term_id} %>
	<% end %>
	</div>
	<div id='advanced_viewer' style="<%= params[:fmt]=='advanced_viewer' ? '' : 'display:none' %>" class='select_form'>
	  <% if @sample_options %>
	  <%= render :partial => 'advanced_viewer_form', :locals => {:sample_options => @sample_options, :assembly => @assembly, :type_term_id => @type_term_id} %>
	  <% end %>
	</div>
	<div id='parallel' style="<%= params[:fmt]&&params[:fmt]=='parallel' ? '' : 'display:none' %>" class='select_form'>
	<% if @sample_options %>
		<%= render :partial => 'parallel_select_form', :locals => {:sample_options => @sample_options, :assembly => @assembly, :type_term_id => @type_term_id} %>
	<% end %>
	</div>
</div>
