<% content_for :head do -%>
  <%= stylesheet_link_tag 'formtastic_overrides' %>
<% end -%>
<div class="table">
  <table class="listing">
    <thead>
      <th>Name</th>
      <th>Members</th>
      <th>Taxons</th>
      <th>Samples</th>
      <th>Options</th>
    </thead>
    <% groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.users.count %></td>
        <td><%= group.taxon_versions.count %></td>
        <td><%= group.experiments.count %></td>
        <td>
          <%= link_to "View", group %>
          <% if can? :update, group %>
            | <%= link_to "Edit", edit_group_path(group) %>
          <% end %>
          <% if can? :destroy, group %> 
            | <%= link_to "Destroy", group, :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>