<% content_for :head do -%>
  <%= stylesheet_link_tag 'formtastic_overrides' %>
  <%= stylesheet_link_tag 'jquery-ui-1.9.2' %>
  <%= javascript_include_tag "jquery-latest.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.9.2.js" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
<% end -%>
<% content_for :top_bar do -%>
  <h1 class="pagetitle">Editing Group: <%= @group.name %></h1>
<% end -%>

<%= render :partial => "home/sidebar" %>

<% content_for :item_bar do -%>
  <%= link_to "Back", @group, :class => 'button' %>
  This group is managed by <%= @group.owner_id == current_user.id ? 'you' : @group.owner.email %>
<% end -%>

<% semantic_form_for @group do |f| -%>
  <%=  f.inputs do %>
    <%= f.input :name %>
  <% end %>
  <%= f.inputs :name => "Add New User:" do %>
    <%= f.input :user_login, :as => :autocomplete, :url => autocomplete_user_login_groups_path%>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :label => "Submit", :button_html => {:class => 'button'} %>
  <% end %>
  
<% end -%>
<br/>
<hr/>
<h2 class="pagetitle">Sequence</h2>
<%= render :partial => "sequence_list", :locals => {:group => @group} %>

<h2 class="pagetitle">Samples</h2>
<%= render :partial => "sample_list", :locals => {:group => @group} %>

<h2 class="pagetitle">Members</h2>
<%= render :partial => "user_list", :locals => {:group => @group} %>