<% content_for :default_override do -%>
  <!-- SlickGrid -->
  <%= stylesheet_link_tag 'slickgrid/slick.grid.css' %>
  <%= stylesheet_link_tag 'slickgrid/jquery-ui-1.8.16.custom.css' %>
  <%= stylesheet_link_tag 'slickgrid/examples.css' %>
  <%= stylesheet_link_tag 'slickgrid/slick.pager.css' %>
  <%= javascript_include_tag 'jquery-latest.min.js' %>
  <%= javascript_include_tag 'jquery_ujs.js' %>
  <%= javascript_include_tag 'slickgrid/jquery.event.drag-2.0.min.js' %>
  <%= javascript_include_tag 'slickgrid/slick.core.js' %>
  <%= javascript_include_tag 'slickgrid/slick.grid.js' %>
  <%= javascript_include_tag 'slickgrid/slick.pager.js' %>
  <%= javascript_include_tag 'slickgrid/slick.dataview.js' %>
  <!-- D3 Linechart -->
  <%= javascript_include_tag 'd3.v3.min.js' %>
  <%= javascript_include_tag 'd3.linechart.js' %>
  <%= javascript_include_tag 'd3.slickline.js' %>
  <%= javascript_include_tag 'divgrid.js' %>
<% end %>

<style>
	/* tell the SVG path to be a thin blue line without any area fill */
	path {
		fill: none;
	}
	.axis, .brush {
	  shape-rendering: crispEdges;
	}
	.x.axis line {
	  display: none;
	}

	.x.axis path {
	  display: none;
	}

	.y.axis line, .y.axis path {
	  fill: none;
	  stroke: #000;
	}
	.y.brush line, .y.brush path {
	  fill: none;
	  stroke: #000;
	}
  .extent {
    fill: rgba(150,150,150,0.5);
    stroke: rgba(0,0,0,0.6);
  }
	div.tooltip {
    position: absolute;
    text-align: center;
/*    width: 60px;*/
    height: 12px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    box-sizing:content-box;
    webkit-box-size:content-box;
  }
  #grid, #pager {
    width: 100%;
  }
  #grid {
    height: 600px;
  }
  #pager {
    height: 20px;
  }
  .slick-row:hover {
    font-weight: bold;
    color: #069;
  }
  .slick-viewport {
    overflow-x: hidden !important;
  }
  #grid * {
    -webkit-box-sizing:content-box !important; 
    -box-sizing:content-box !important;
  }
</style>

<div id="graph" class="slickline" style="height:500px;"></div>
<div id="pager"></div>
<div id="grid"></div>
<script type='text/javascript'>
  var linkFormatter = function ( row, cell, value, columnDef, dataContext ) {
          return '<a href="' + dataContext['id'] + '?fmt=coexpression">' + value + '</a>';
      };
  slick = d3.slickline({
    graph: '#graph',
    grid: '#grid',
    tooltip: 'locus',
    pager: '#pager',
    grid_columns: [
      {
        id: '1',
        name: 'Name',
        field: 'locus',
        sortable: true,
        selectable: false,
        formatter: linkFormatter
      },
      {
        id: '2',
        name: 'Definition',
        field: 'description',
        width: 350,
        sortable: true,
        selectable: false
      },
      {
        id: '3',
        name: 'R',
        field: 'r',
        sortable: true,
        selectable: false
      },
      {
        id: '4',
        name: 'R2',
        field: 'r2',
        sortable: true,
        selectable: false
      },
      {
        id: '5',
        name: 'AVG NORM',
        field: 'avg',
        sortable: true,
        selectable: false
      }
    ]
  });
  slick.load(<%= "'#{data}'" %>)
</script>
