<h2>
  <%= link_to_add_fields image_tag("add.gif", :alt => "Add Field", :style => "margin-left:6em;margin-bottom:-1em"), f, :qualifiers,
  :partial => 'seqfeature_qualifier_values/fields' %>
  Attributes
</h2>
<%= f.semantic_fields_for :qualifiers do |q| %>
	<%= render :partial => 'seqfeature_qualifier_values/fields', :locals => {:f => q} %>
<% end %>
<% unless @skip_locations %>
  <% if defined? add_location and add_location%>
    <h2>
      <%= link_to_add_fields image_tag("add.gif", :alt => "Add Location", :style => "margin-left:6em;margin-bottom:-1em"), f, :locations,
        :partial => 'locations/fields' %>
      Locations
    </h2>
  <% end %>
  <%= f.semantic_fields_for :locations do |l| %>
  	<%= render :partial  => 'locations/fields', :locals => {:f => l,:show_strand => show_strand ||=nil} %>
  <% end %>
<% end %>
<% if f.object.new_record? %>
  Feature Source:
  <%= f.collection_select :source_term_id, @src_terms, :id, :name, :selected => @src_terms.find{|term| term.name==APP_CONFIG[:default_source_term]}.try(:id) %>
<% end %>