<div style="float:left">
<% experiment.assets.each do |asset|%>
    <%= link_to( (
      render :partial => "assets/#{asset.class.name.underscore}_card",:locals => {:asset => asset} rescue
      render :partial => "assets/card", :locals => {:asset => asset}
    ), asset_path(asset.id), :popup => true )%>
<% end %>

<% if experiment.respond_to? :peaks %>
<div class="asset_orange">
  <div style="font-size:133%;padding-bottom:1em"><b>Total Peaks</b>: <%= experiment.peaks.count %></div>
    <div style="padding-left:1em">
      <% if max_peak = experiment.peaks.order("val desc").first %>
      
      <b>Maximum:</b> <%= number_to_human(max_peak.val) %><br/>
      <b>Location:</b> <%= link_to(
        number_to_human(max_peak.pos), 
        bioentry_path(
          max_peak.bioentry, 
          :tracks => [experiment.tracks.with_bioentry(max_peak.bioentry.id).first.id], 
          :pos => max_peak.pos
        ) ) %><br/>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% if experiment.respond_to? :feature_counts %>
<div class="asset_green">
  <div style="font-size:133%;padding-bottom:1em"><b><%=
    link_to "Expression",
      expression_results_path(
        :taxon_version_id => experiment.taxon_version_id,
        :type_term_id => experiment.feature_counts.first.try(:seqfeature).try(:type_term_id),
        :experiments => [experiment.id],
        :c => "exp_#{experiment.id}",
        :d => "desc"
      )
  %></b>
  </div>
    <div style="padding-left:1em">
      <p>
        <b>Features:</b> <%= number_with_delimiter(experiment.feature_counts.count||0) %><br/>
      </p>
      
      <b>Maximum:</b> <%= number_to_human(experiment.feature_counts.maximum(:normalized_count)||0) %><br/>
      <b>Average:</b> <%= number_to_human(experiment.feature_counts.average(:normalized_count)||0) %><br/>
      <b>Minimum:</b> <%= number_to_human(experiment.feature_counts.minimum(:normalized_count)||0) %><br/>
    </div>
</div>
<% end %>
</div>