<div class="form_item" id="exp_asset_form">
	<h3>File(s) <%= link_to_function image_tag("add.gif", :title => "Add another File", :style => "border:none;padding-left:1em;margin-bottom:-4px"), "add_new_asset('#{f.object.class.name.underscore}')" %></h3>
	<br/>
	<div style="border-top:1px dashed lightgrey"><br/></div>
	<% f.fields_for :assets do |asset| %>
	<div class="asset_form_item">
		<br/>
		<% if asset.object.new_record? %>
			<div style="float:left">
				<%= asset.label :data, "Name"%><br/>
	      <%= asset.file_field :data, :class => "asset_file_field" %><br/>
			</div>
			<div style="float:left">
				<%= asset.label :type, "Type" %><br/>
				<%= asset.select :type, ((defined?(types) && types.is_a?(Hash)) ? types : {"bigWig" => "BigWig", "wig" => "Wig"}),{}, :class => "asset_file_type"%>
				<%= link_to_function image_tag("delete.png", :title => "Remove this File", :class => "asset_delete", :style => "display:none;border:none;padding-top:5px;margin-bottom:-4px"),	"remove_asset(this,'#{f.object.class.name.underscore}')" %>
			</div>
		<% else %>
			<div style="float:left">
				<%= asset.label :data, "Filename"%><br/>
	      <%= asset.object.filename %><br/>
			</div>
			<div style="padding-left:5em;float:right">
				<%= asset.label :type, "Type" %><br/>
				<%= asset.select :type, ((defined?(types) && types.is_a?(Hash)) ? types : {"bigWig" => "BigWig", "wig" => "Wig"}),{}, :class => "asset_file_type"%>
				<%= link_to_function image_tag("delete.png", :title => "Remove this File", :class => "asset_delete", :style => "border:none;padding-top:5px;margin-bottom:-4px"),	"remove_asset(this,'#{f.object.class.name.underscore}')" %>
			</div>
	  <% end %>
	</div>
	<% end %>
</div>

<script type='text/javascript'>
	add_new_asset=function(classname){
		var list = $('exp_asset_form');
		var new_id = $$('.asset_file_field').length+1;
		var new_div = $$('.asset_form_item')[0].cloneNode(true);
		setup_asset_ids(new_div,new_id,classname)
		list.appendChild(new_div);
	};
	remove_asset=function(item,classname){
		while(item.className != 'asset_form_item')
			item = item.parentNode;
		$('exp_asset_form').removeChild(item);
		renumber_assets(classname)
	};
	renumber_assets=function(classname){
		var items = $$('.asset_form_item')
		var count = items.length;
		for(var asset_idx=0;asset_idx<count;asset_idx++)
		{
			setup_asset_ids(items[asset_idx],asset_idx+1,classname)
		}
	}
	setup_asset_ids=function(update_div, new_id, classname){
		//new select
		var new_select = update_div.getElementsByClassName('asset_file_field')[0];
		new_select.id = classname + "_assets_attributes_"+new_id+"_data";
		new_select.name = classname + "[assets_attributes]["+new_id+"][data]";		
		//new type
		var new_type = update_div.getElementsByClassName('asset_file_type')[0];
		new_type.id = classname + "_assets_attributes_"+new_id+"_type";
		new_type.name = classname + "[assets_attributes]["+new_id+"][type]";
		//show delete
		if(new_id > 1)
		{
			var new_delete = update_div.getElementsByClassName('asset_delete')[0];
			new_delete.show();
		}
	};
</script>