<%= stylesheet_link_tag 'sstree' %>
<%= javascript_include_tag 'sstree' %>

<% content_for :body_onload do -%>
	<%= "showAllRows();" %>
	<%= "document.getElementById('sstree-exp').onselectstart = function() { return(false); };" %>
<% end %>

<% content_for :item_bar do %>
		<div style="float:left">
		<%= link_to "New Experiment", send("new_#{exp_type}_path"), :class => "button" %>
		<%= link_to "Details", send("details_#{exp_type}s_path"),:class => "button" %>
		<%= link_to_function "Show All", "showAllRows();" %>
		<%= link_to_function "Collapse All", "collapseAllRows();" %>
		<%= form_tag send("#{exp_type}s_path") , :method => :get %>
			</div>
			<div style="float:right;padding-left:1em"><%= submit_tag "Go", :class => "button"%></div>
			<div style="float:right">Search: <%= text_field_tag :query %></div>
			<!-- <div style="float:right;padding-right:2em">
				Group By: <%#= select_tag :group_by, 
					options_for_select({"Strain" => 'strain',"Chromosome" => 'chr'}, {:selected => params[:group_by]}), 
					{:onchange => "$('chr').hide();$('strain').hide();$(this.value).show();"} %>
			</div> -->
		</form>
<% end %>

<% #setup sort from params %>
<% o = params[:o]; o = 'name' unless ['name','created_at','state'].include?(o) %>
<% d = params[:d]; d = 'asc' unless d == 'asc' %>

<div class="table">
<table id="sstree-exp" class="listing sstree">
	<thead>
		<th class="top" style="border:none" width="55%">Name</th>
		<th class="top" style="border:none" width="15%">Date</th>
		<th class="top" style="border:none" width="15%">Options</th>
	</thead>
  	<% @species.each_with_index do |s, s_idx| %>
		<% id = s_idx + 1  %>
			<tr id="<%= id %>" class="one" onclick="toggleRows(document.getElementById('a_<%= id %>'));return false">
				<td width="55%">
				 	<div class="tier1">
						<a id="a_<%= id %>" name="<%= id %>"href="#<%= id %>" onclick="toggleRows(this);return false"></a>
						<%= s.scientific_name.name %>
					</div>
				</td>
				<td width="15%"></td>
				<td width="15%"></td>
			</tr>			
			<% s.in_use_children.each_with_index do |t, t_idx| %>
			<% next if t.send(exp_type+'s').empty? %>
			<% id = "#{s_idx + 1}-#{t_idx + 1}" %>			
				<tr id="<%= id %>" style="display:none" class="two" onclick="toggleRows(document.getElementById('a_<%= id %>'));return false">
					<td>
						<div class="tier2">
							<a id="a_<%= id %>" name="<%= id %>" href="#<%= id %>" onclick="toggleRows(this);return false"></a>
							<%= t==s ? "Generic Strain" : t.scientific_name.name %>
						</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<% t.bioentries.collect{|b| b.send(exp_type+"s")}.flatten.sql_sort(o,d).uniq.each_with_index do |exp, exp_idx| %>
				<% next if params[:query] && !exp.name=~/#{params[:query]}/ %>
				<% id = "#{s_idx + 1}-#{t_idx + 1}-#{exp_idx + 1}" %>
		  		<tr id="<%= id %>" style="display:none" class="item">
						<td>
							<div class="tier4">
								<a name="<%= id %>" href="#<%= id %>" ></a>
								<%= link_to exp.name.gsub(/(.{22})/,'\1 '), send("#{exp_type}_path",exp) %>
						</div>
						</td>
						<td><%= exp.created_at.strftime("%D") %></td>
						<td>
							<div style="float:right;">
								<span style="float:left;padding-right:1em;font-size:80%;color:darkblue"><%= exp.state.camelize unless (exp.state.nil? || exp.state == "ready" || exp.state == 'complete') %></span>
								<!-- <div style="float:left"><%#= button_to "Update", edit_chip_seq_path(exp) if exp.state == 'ready'%></div>	 -->
								<div style="float:left"><%= link_to image_tag("page_white_edit.png",:alt => "Edit Experiment", :style => "border:0px"), send("edit_#{exp_type}_path",exp) unless exp.state == 'loading'%></div>						
								<% if current_user.is_admin? || current_user.owns?(exp)%>
									<div style="float:right;padding-left:1em;"><%= link_to image_tag("delete.png",:alt => "Delete Experiment",:style => "border:0px"), send("#{exp_type}_path",exp), :method => 'delete', :confirm => "Remove experiment: #{exp.name}? \n Action cannot be undone." %></div>
									<!-- <div style="float:right;padding-left:1em;"><%#= button_to "Delete", chip_seq_path(exp), :method => 'delete', :confirm => "Remove experiment: #{exp.name}? \n Action cannot be undone." %></div> -->
								<% end %>
							</div>
						</td>						
		  	  </tr>
				<% end %>
			<% end %>
  	<% end %>		
</table>
</div>