<h1 class="pagetitle">Genomic Experiment Types</h1>
<%= render :partial => "sidebar", :locals => {:active => "all"}  %>

<h3><%= link_to "ChIP Seq", chip_seqs_path  %></h3><hr><br/>
<p>
	ChIP-Seq combines chromatin immunoprecipitation (ChIP) with massively parallel DNA sequencing. The genome browser uses the tag densities from ChIP-Seq to render a histogram display. 
	<%= link_to "(details)", details_chip_seqs_path, :style => "font-size:80%" %>
</p>

<h3><%= link_to "ChIP Chip", chip_chips_path %></h3><hr><br/>
<p>
	ChIP-chip combines chromatin immunoprecipitation (ChIP) with with microarray technology (chip). The genome browser uses the tile data from ChIP-Seq to render a histogram display. 
	<%= link_to "(details)", details_chip_chips_path, :style => "font-size:80%" %>
</p>

<h3><%= link_to "Re-Sequence", re_seqs_path %></h3><hr><br/>
<p>
	Re-Sequencing experiments use genomic sequence data aligned to the reference sequence.
	<%= link_to "(details)", details_re_seqs_path, :style => "font-size:80%" %>
</p>

<h3><%= link_to "mRNA-Seq", rna_seqs_path %></h3><hr><br/>
<p>
	mRNA-Seq expects RNA sequencing data aligned to the reference sequence.
	<%= link_to "(details)", details_rna_seqs_path, :style => "font-size:80%" %>
</p>

<h3><%= link_to "Synthetic", synthetics_path %></h3><hr><br/>
<p>
	Synthetic experiments are created by the system users. They represent composite experiments using operands to generate averages and ratios. Synthetic experiments can currently be created by compositing several ChipChip or ChipSeq experiments together. Synthetic experiments are rendered with a histogram display. 	
	<%= link_to "(details)", details_synthetics_path, :style => "font-size:80%" %>
</p>

<h3><dt><%= link_to "Variants", variants_path %></dt><hr></h3><br/>
<p>
	Variant experiments rely on other sequencing techniques and computational analysis to identify variation within a genomic sequence. Variant experiments are uploaded using datafiles containing the called variants (SNP, Insertion, Deletion...) Variants are rendered as colored features in the given positions.
	<%= link_to "(details)", details_variants_path, :style => "font-size:80%" %>
</p>

