<% content_for :top_bar do %>
	<h1 class="pagetitle">Blast Databases</h1>
<% end %>

<% content_for :item_bar do %>
<%= link_to 'New Blast Database', new_admin_blast_database_path, :class => 'button' %>
<div style="float:right">
  <%= form_for admin_blast_databases_path, :method => :get do %>
	<label>
	    <input type="text" name="textfield"/>
	</label>
	<label>
	    <input type="submit" name="Submit" value="Search" class="button" />
	</label>
	<% end %>
</div>

<% end %>

<%= render :partial => "admin/sidebar", :locals => {:active => 'blast_db'} %>

<div class="table">
  <table class="listing">
  	<thead>
  	    <th width="20%"><%= sort_link "ID", :abbreviation %></th>
  	  	<th width="10%"><%= sort_link "Name", :name %></th>
  	  	<th width="20%"><%= sort_link "Description", :description %></th>
    		<th width="10%"><%= sort_link "Link Ref", :link_ref %></th>
    		<th width="10%"><%= sort_link "Taxonomy", :taxon_id %></th>
    		<th width="10%"><%= sort_link "Blast Runs", 'blast_runs.count' %></th>
      	<th width="10%"><%= sort_link "Created", :created_at %></th>
      	<th width="10%"><%= sort_link "Updated", :updated_at %></th>
  			<th>Options</th>
  	</thead>
  
  	<% for blast_db in @blast_databases %>
  		<tr>
  		  <td class="style2"><%= blast_db.abbreviation %></th>
		  	<td class="style2"><%= blast_db.name %></th>
		  	<td><%= blast_db.description %></th>
    		<td><div id=<%= blast_db.id %></div><%= sliced_toggle(blast_db.link_ref,blast_db.link_ref,blast_db.id)  %></td>
    		<td class="style3"><%= blast_db.taxon.name if blast_db.taxon %></td>
    		<td class="style3"><%= link_to blast_db.blast_runs.count, admin_blast_runs_path(:blast_database_id => blast_db.id) %></td>
    		<td class="style3"><%= blast_db.created_at.strftime('%b %d \'%y') %></td>
    		<td class="style3"><%= blast_db.updated_at.strftime('%b %d \'%y') %></td>
	    	<td class="style1">
				  <%= link_to '[Edit]', edit_admin_blast_database_path(blast_db) %>
				</td>
  	  </tr>
  	<% end %>
  </table>
</div>
