<%= render :partial => "genes/sidebar", :locals => {:active => 'features'} %>
<% content_for :top_bar do -%>
  <h1 class="pagetitle">Feature Listing</h1>
<% end -%>
<% content_for :item_bar do %>
<!-- Filter / Search items here -->
	<div style="float:left">
		<%= link_to "Advanced Search",'#',:onclick => "$('advanced_search').toggle();", :class => "button" %>
	</div>
	<div style="float:right">
	  <% form_tag seqfeatures_path, :method => :get do %>
	    Search:<br/>
      <%= text_field_tag "keywords",params[:keywords] %>
      <%= submit_tag 'Go' %>
	  <% end %>
	</div>
	<br/ style="clear:both">
	<div id='advanced_search' style="<%= params[:advanced_search] ? '' : 'display:none' %>">
	  <br/>
	  <hr/>
	  <br/>
  	<% form_tag seqfeatures_path, :method => :get do %>
  	  <%= hidden_field :advanced_search, true %>
      <div style="float:left">
        Keywords:<br/>
        <%= text_field_tag "keywords",params[:keywords], :size => 50 %><br/>
        <br/>
        Taxonomy:<br/>
        <%= select_tag 'taxon_version_id', options_for_select(@taxon_versions.collect{|s| [s.name_with_version,s.id]},params[:taxon_version_id]), {:include_blank => "No Filter"} %><br/>
        <br/>
        Type:<br/>
        <%= select_tag 'type_term_id', options_for_select(@search.facet(:type_term_id).rows.collect{|s| ["#{s.instance.try(:name)} (#{s.count})",s.value]},params[:type_term_id]), {:include_blank => "No Filter"} %><br/>
        <br/>
        <div style="float:left;margin-right:1em">
          Location:<br/>
          <%= text_field_tag "start_pos",params[:start_pos], :size => 10 %>
          TO
          <%= text_field_tag "end_pos",params[:end_pos], :size => 10 %><br/>
        </div>
        <div style="float:left;margin-right:1em">
          Strand:<br/>
          <%= select_tag 'strand', options_for_select(@search.facet(:strand).rows.collect{|s| ["#{s.value.to_i > 0 ? 'Forward (5\' -> 3\')' : 'Reverse (3\' -> 5\')'} (#{s.count})",s.value]},params[:strand]), {:include_blank => "No Filter"} %><br/>
        </div>
      </div>
      <div style="clear:both">
        <br/>
        <%= submit_tag 'Search' %>
      </div>
    <% end -%>
  </div>
<% end %>

<% if @search.nil? %>
  No Results Found...
<% else %>
  <div class="pagination">
    <span style="float:left"><%= will_paginate(@search.hits) %></span>
    <span style="float:right;margin-right:2em"><%= number_with_delimiter(@search.total) %> Matching Results</span>
  </div>

  <div class="table">
    <table class="listing">
      <thead>
        <th style="white-space:nowrap;width:10em"><%= sort_link "Locus", 'locus_tag' %></th>
        <th style="white-space:nowrap"><%= sort_link "Type", 'type_term_id' %></th>
        <th style="white-space:nowrap">Attributes</th>
        <th style="white-space:nowrap"><%= sort_link "Start Pos", 'start_pos' %></th>
        <th style="white-space:nowrap"><%= sort_link "End Pos", 'end_pos' %></th>
        <th style="white-space:nowrap"><%= sort_link "Strand", 'strand' %></th>
        <th style="white-space:nowrap"><%= sort_link "Taxon", 'taxon_version_name_with_version' %></th>
        <th>Options</th>
      </thead>
      <% @search.each_hit_with_result do |hit,feature| %>
      <tr>
        <td>
          <%= highlight_result(hit,:locus_tag_text) %>
          <% if can? :edit, feature %>
            <%= link_to( image_tag('comment_edit.png'), edit_seqfeature_path(feature.id), :class => 'popupbox', :'data-form' => "edit_seqfeature_#{feature.id}", :'data-post_to' => seqfeature_path(feature.id), :'data-update_id' => "#{feature.id}_definition", :'data-update_from' => request.fullpath+'&seqfeature_id='+feature.id.to_s) %>
          <% end %>
          <%= link_to(image_tag(Array(hit.stored(:favorite_user_ids)).include?(current_user.id) ? 'star.png' : 'star_gray.png'), toggle_favorite_seqfeature_path(feature.id), {:class => 'favorite',:id => "favorite_#{feature.id}",:remote => true}) %>
        </td>
        <td><%= feature.display_name %></td>
        <td id='<%= feature.id %>_definition'><%= render :partial => 'hit_definition', :locals => {:hit => hit, :feature => feature} %></td>
        <td><%= highlight_result(hit,:start_pos) %></td>
        <td><%= highlight_result(hit,:end_pos) %></td>
        <td><%= (hit.stored(:strand) > 0 ? '<span style="color:green">F</span>' : '<span style="color:darkred">R</span>').html_safe if hit.stored(:strand) %></td>
        <td style="white-space:nowrap"><%= highlight_result(hit,:taxon_version_name_with_version_text) %></td>
        <td style="white-space:nowrap">
          <%= link_to 'Details', seqfeature_path(feature) %>
          |
          <%= link_to 'View', bioentry_path(feature.bioentry_id,{:pos => feature.min_start}) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
<%= render :partial => "ext_update_form" %>