<%= render :partial => "genes/sidebar", :locals => {:active => 'features'} %>
<% content_for :top_bar do -%>
  <h1 class="pagetitle">Feature Listing</h1>
<% end -%>
<% content_for :item_bar do -%>
  <div style="float:right">
    <% form_tag seqfeatures_path, :method => :get do %>
      Search: <%= text_field_tag "keywords",params[:keywords] %>
      <%= submit_tag 'Go' %>
    <% end -%>
    Or setup an <a href="#" onclick="$('advanced_search').toggle()">advanced search</a>
  </div>
  <div style="<%=  params[:advanced_search] ? '' : 'display:none'%>" id="advanced_search">
    <h2 class="pagetitle">Advanced Search</h2>
    <% form_tag seqfeatures_path, :method => :get do %>
      <%= hidden_field :advanced_search, true %>
      
      <h3>Scope by Type</h3>
      <ul class="facet">
        <% @search.facet(:type_term_id).rows.sort{|a,b| b.count<=>a.count}.each do |row| %>
          <%= check_box_tag("type_term_ids[]",row.value,params[:type_term_ids]) %> <%= row.instance ? row.instance.name : '?' %>(<%= row.count %>)<br/>
        <% end %>
      </ul>
      <h3>Match these fields:</h3>
      Locus Tag: <%= text_field_tag "locus_tag",params[:locus_tag] %><br/>
      
      <h3></h3>
      Any Keywords:  <%= text_field_tag "keywords",params[:keywords] %><br/>
      <%= submit_tag 'Search', :style => "float:right", :class => "button" %>
    <% end %>
  </div>
<% end -%>



<div class="pagination">
  <%= will_paginate(@search.hits) %>
</div>

<div class="table">
  <table class="listing">
    <thead>
      <th>Type</th>
      <th>Locus</th>
      <th>Species</th>
      <th>Version</th>
      <th>Sequence</th>
      <th>Keyword Match</th>
      <th>Score</th>
    </thead>
    <% @search.each_hit_with_result do |hit,feature| %>
      <tr>
        <td><%= feature.type_term.name %></td>
        <td><%= hit.stored(:locus_tag) %></td>
        <td><%= feature.bioentry.species_name %></td>
        <td><%= feature.bioentry.version_info%></td>
        <td><%= feature.bioentry.display_name %></td>
        <td><%= hit.highlight(:qualifier_values).format { |fragment| content_tag(:b, fragment) }.html_safe if hit.highlight(:qualifier_values)%></td>
        <td><%= hit.score %></td>
      </tr>
    <% end %>
  </table>
</div>