<div style="float:right;">
  <%= form_tag user_path(@user), :method => :get do %>
  <%= hidden_field_tag :fmt, 'samples' %>
  <div style="float:right;margin-bottom:0.5em">
    Search:<br/>
    <%= submit_tag 'Go', :class => 'button', :id => 'go_submit', :style => 'float:right;margin-left:-1em' %>
    <%= text_field_tag "keywords",params[:keywords], :style => 'float:right;margin-right:2em' %>
  </div>
  <div style="float:right;margin-right:2em">
    Type:<br/>
    <%= select_tag 'sample_type', options_for_select(["ChipChip","ChipSeq","ReSeq","RnaSeq","Variant"],params[:sample_type]), {:include_blank => "No Filter"} %><br/>
  </div>
  <% end %>
</div>


<div class="pagination" style="clear:both">
  <span style="float:left"><%= will_paginate(@samples) %></span>
  <span style="float:right;margin-right:2em"><%= number_with_delimiter(@samples.total_entries) %> Matching Results</span>
</div>

<div class="table">
  <% if @samples.empty? %>
    <br/>
    <p>
      You don't have access to any sample data right now.
    </p>
  <% else %>
      <table class="listing">
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Group</th>
          <th>Assembly</th>
          <th>Description</th>
          <th>Options</th>
        </thead>
        <% @samples.each do |sample| %>
          <tr>
            <td><%= link_to sample.name, sample %></td>
            <td><%= sample.type %></td>
            <td style='text-align:left;white-space:nowrap'><%= link_to sample.group.try(:name), sample.group %></td>
            <td style='white-space:nowrap'><%= sample.assembly.name_with_version %></td>
            <td style='text-align:left'><%= sample.description %></td>
            <td style='white-space:nowrap'>
              <%= link_to "View", sample %>
              <% if can? :update, sample %>
                | <%= link_to "Edit", [:edit,sample] %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

  <% end %>
</div>