<% content_for :head do %>
  <%= render :partial => "common/extjs_css" %>
<% end %>
<% content_for :top_bar do -%>
  <h1 class="pagetitle">My Account</h1>
<% end -%>

<%= content_for :item_bar do -%>
  <%= link_to 'Update Profile', edit_user_path(@user), :class => 'button' %>
  <%= link_to 'Create New Group', new_group_path, :class => 'button' %>
<% end -%>

<% content_for :sidebar do -%>
  <%#= render :partial => "home/sidebar", :active => 'account' %>
<% end -%>
<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
<br/>
<p>
  <b>Contact Email:</b>
  <%=h @user.email %>
</p>
<br/>
<!-- <p>
  <b>Role(s):</b>
  <%#=h @user.roles.collect{|r| r.name}.join(', ') %>
</p> -->
<h1 class="pagetitle" style="font-size:130%">My Stuff</h1>
<%= render :partial => "my_stuff_links", :locals => {:active_link => params[:fmt], :user => @user} %>
<%= render :partial => params[:fmt] %>


