<% content_for :pagetitle do -%>
  GS: <%= @user.login %> account
<% end -%>
<%= content_for :head do %>
  <%= render :partial => "shared/extjs_css" %>
<% end %>
<% content_for :top_bar do -%>
  <h1 class="pagetitle">My Account</h1>
<% end -%>

<%= content_for :item_bar do -%>
  <%= link_to 'Update Profile', edit_user_path(@user), :class => 'button' %>
  <% if can? :create, Group.new %>
    <%= link_to 'Create New Group', new_group_path, :class => 'button' %>
  <% end %>
  <%= render :partial => "my_stuff_links", :locals => {:active_link => params[:fmt], :user => @user} %>
<% end -%>

<%# content_for :sidebar do -%>
  <%#= render :partial => "home/sidebar", :active => 'account' %>
<%# end -%>

<!-- <p>
  <b>Role(s):</b>
  <%#=h @user.roles.collect{|r| r.name}.join(', ') %>
</p> -->
<h1 class="pagetitle" style="font-size:130%"><%= params[:fmt].camelize.humanize %></h1>
<%= render :partial => params[:fmt] %>



