<div style="float:left;width:600px" id="graphics_container">
  <%= @bioentry.display_info %>: View in <%= link_to( "Sequence Viewer",@bioentry,:popup => true) %><br/>
  <div class="table">
    <table class="listing">
      <thead>  
        <th>Type</th>
        <th>Pos</th>
        <th>Ref</th>
        <th>Alt</th>
        <th>Qual</th>
      </thead>
      <% @variants.each do |variant| %>
        <tr>
          <td><%= variant.variant_type %></td>
          <td><%= link_to variant.pos, bioentry_url(@bioentry, :pos => variant.pos, :p => 5, :b => 1) %></td>
          <td><%= variant.ref %></td>
          <td><%= variant.alt %></td>
          <td><%= variant.qual %></td>
        </tr>
      <% end %>
    </table>
    <div><div style='float:left'><%= will_paginate @variants %></div><div style="float:right"><%= pluralize(@variants.total_entries,"variant") %></div></div>
  </div>

  <%= select_tag :bioentry_id, options_from_collection_for_select(@variant.bioentries_experiments, :bioentry_id, :bioentry_short_name, @bioentry.id),:onChange => "window.location='#{url_for(@variant)}?bioentry_id='+this.options[this.selectedIndex].value"%>

</div>