<div style="float:left;width:600px" class="clear">
	<div style="float:left;width:150px;margin-top:-10px"><span style="color:#777;">0 <span style="color:#444;font-size:105%">Variant Counts</span> >250</span><div style="width:150px;height:4px;
		background-image: -webkit-gradient(linear, left bottom, right top, from(white), to(black));
		background-image: -moz-linear-gradient(left center,white,black)"></div></div>
	<table style="font-size:95%">
		<tr>
			<th style="text-align:center" width="57%">Sequence</th>
			<th style="text-align:center">SNP</th>
			<th style="text-align:center">Insertion</th>
			<th style="text-align:center">Deletion</th>
			<th style="text-align:center">Indel</th>
		</tr>
	<% @variant.bioentries_experiments.each do |be| %>
		<% b = be.bioentry %>
		<tr>
			<% t = "open #{b.display_name} in Sequence Viewer" %>
			<td style="padding-top:1em"><%= link_to(b.display_info,b,:alt => t, :title => t,:popup => true) %></td>
			<td style="padding-top:1em;text-align:center"><%= @variant.snps.with_bioentry(b.id).count%></td>
			<td style="padding-top:1em;text-align:center"><%= @variant.insertions.with_bioentry(b.id).count%></td>
			<td style="padding-top:1em;text-align:center"><%= @variant.deletions.with_bioentry(b.id).count%></td>
			<td style="padding-top:1em;text-align:center"><%= @variant.indels.with_bioentry(b.id).count%></td>
		</tr>
		<tr>
			<td colspan="5" style="border-bottom:1px solid darkgrey">
				<div style="margin-bottom:5px;width:550px;height:5px;background-image: -webkit-gradient(linear, left bottom, right top, from(rgb(255,255,255)), 
			 		<%= @variant.variant_counts(55,b.id).collect{|c| "color-stop(#{c.percent},rgb(#{255-[c.count.to_i,255].min},#{255-[c.count.to_i,255].min},#{255-[c.count.to_i,255].min}))" }.join(',') %>,
					to(rgb(255,255,255)));
					background-image: -moz-linear-gradient(left center,white,
			 		<%= @variant.variant_counts(55,b.id).collect{|c| "rgb(#{255-[c.count.to_i,255].min},#{255-[c.count.to_i,255].min},#{255-[c.count.to_i,255].min}) #{(c.percent.to_f*100).to_i}%" }.join(',') %>,white);" >
				</div>
			</td>
		</tr>
	<% end %>
	</table>
</div>