<% @variants.each do |variant| %>
  <% if @experiment.tabix_vcf %>
    <h2><span style="font-size:120%"><%= @position %></span></h2><hr/>
    <table>
      <% @experiment.tabix_vcf.header_line.split("\t").each_with_index do |head,idx| %>
        <tr><td><b><%= head %></b></td><td><%= variant[idx] %></td></tr>
      <% end %>
    </table><br/>
  <% elsif @experiment.bcf %>
    <% v = variant[:v] %>
    <h2><span style="font-size:120%"><%= v.variant_type %></span> : <%= v.pos %></h2><hr/>
    <table>
      <tr><td>Ref:</td><td><%= v.ref %></td></tr>
      <tr><td>Alt:</td><td><%= v.alt %></td></tr>
      <tr><td>Qual:</td><td><%= v.qual %></td></tr>
      <tr><td>Filter:</td><td><%= v.flt %></td></tr>
      <tr><td>-</td></tr>
      <tr><td><b>Info Tags</b></td></tr>
      <% v.info_tags.each do |key, val| %>
        <tr><td><%= key %>:</td><td><%= val %></td></tr>
      <% end %>
      <tr><td>-</td></tr>
      <tr><td><b>Genotypes</b></td></tr>
      <tr><td colspan="2">
        <table class="listing">
          <tr>
            <td>Sample</td>
            <% v.geno_fields.each do |g| %>
              <td><%= g.format %></td>
            <% end %>
          </tr>
          <% @experiment.samples.each_with_index do |sample,idx| %>
            <tr>
              <td><%= sample %></td>
              <% v.geno_fields.each do |g| %>
                <% case g.format %>
                <% when 'GT' %>
                  <td><%= "#{g.data[idx][0]}#{g.data[idx][1]}#{g.data[idx][2]}" %></td>
                <% when 'PL' %>
                  <td><%= g.data[idx].join(",") %></td>
                <% else %>
                  <td><%= g.data[idx] %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>

      </td></tr>
  
    </table>
  <% end %>

<% end %>