<% content_for :top_bar do -%>
  <h1 class="pagetitle">Edit Variant Experiment <%= @variant.name %></h1>
<% end -%>

<% content_for :item_bar do -%>
  <%= link_to "Cancel", variants_path, :style => "float:right", :class => "button" %>
<% end -%>

<%= render :partial => "experiments/sidebar" %>

<%= error_messages_for :variant %>

<%= render :partial => 'experiments/form', :locals => {:experiment => @variant} %>