<% content_for :top_bar do -%>
  <h1 class="pagetitle">Edit Variant Sample <%= @variant.name %></h1>
<% end -%>

<% content_for :item_bar do -%>
  <%= link_to "Cancel", @variant, :style => "float:left", :class => "button"%>
  <% if can? :delete, @variant %>
    <%= render :partial => 'shared/item_bar_toggle' %>
    <!-- Advanced Options -->
    <div style="display:none;clear:both;float:left" id="advanced_search">
      <br/>
      <%= link_to "Remove Variant", @variant, :method => 'delete', :class => "redbutton", :confirm => "Remove sample: #{@variant.name}? \n This CANNOT be undone." %>
    </div>
  <% end %>
<% end -%>

<%= render :partial => "samples/sidebar" %>

<%= error_messages_for :variant %>

<%= render :partial => 'samples/form', :locals => {:sample => @variant} %>