<div class="asset_orange" style="color:black;width:100%">
	<div style="font-size:133%;padding-bottom:1em"><b>Info</b></div>
	<div style="padding-left:1em">
    <table>
      <thead>
        <th>SeqID</th>
        <th>Length</th>
        <th>Mapped</th>
        <th>Un-Mapped</th>
      </thead>
      <% count = 0 %>
      <% asset.index_stats.each do |k,v| %>
        <% count +=1 %>
        <% if count > 50 %>
          <tr>
            <td>...</td>
            <td colspan="3"> <%= "#{asset.index_stats.length - (count-1)} more suppressed" %> </td>
          </tr>
          <% break %>
        <% end %>
        <tr>
          <td><%= k %></td>
          <td><%= number_with_delimiter(v[:length]) %></td>
          <td><%= number_with_delimiter(v[:mapped_reads]) %></td>
          <td><%= number_with_delimiter(v[:unmapped_reads]) %></td>
        </tr>
      <% end %>
    </table>
	</div>
</div>