<% content_for :head do %>
	<%= render :partial => "shared/extjs" %>
<% end %>
<%= render :partial => "sidebar", :locals => {:active => "search"} %>

<% content_for :top_bar do -%>
  <h1 class="pagetitle">Search Sequence</h1>
<% end -%>

<% content_for :item_bar do -%>
  <div>
    <%= link_to "Download Fasta", bioentries_path(
      :assembly => params[:assembly],
      :biodatabase => params[:biodatabase],
      :taxon_type => params[:taxon_type],
      :keywords => params[:keywords],
      :c => params[:c],
      :d => params[:d],
      :format => 'fasta'
    ), :class => "button", :confirm => "Depending on the volume of data available, it may take several minutes to complete your request. The File will be streamed to you as it is generated. Click OK to continue." %>
  </div>
  <div>
    <%= link_to "Download Genbank", bioentries_path(
      :assembly => params[:assembly],
      :biodatabase => params[:biodatabase],
      :taxon_type => params[:taxon_type],
      :keywords => params[:keywords],
      :c => params[:c],
      :d => params[:d],
      :format => 'genbank'
    ), :class => "button", :confirm => "Depending on the volume of data available, it may take several minutes to complete your request. The File will be streamed to you as it is generated. Click OK to continue." %>
  </div>
  
  <div>
    <%= form_tag bioentries_path, :method => :get do %>
      <div style="float:right;margin-bottom:0.5em">
        Search:<br/>
        <%= text_field_tag "keywords",params[:keywords] %>
        <%= submit_tag 'Go', :class => 'button' %>
      </div>
      <div style="float:right;margin-right:2em">
        Assembly:<br/>
        <%= select_tag 'assembly', options_for_select(@assemblies.collect{|s| [s.name_with_version,s.id]},params[:assembly]), {:include_blank => "None", :onchange => "this.form.submit()"} %>
      </div>
    <% end -%>
  </div>
<% end -%>

<% if @search.nil? %>
  No Results Found...
<% else %>
  <div class="pagination">
    <span style="float:left"><%= will_paginate(@search.hits) %></span>
    <span style="float:right;margin-right:2em"><%= number_with_delimiter(@search.total) %> Matching Results</span>
  </div>

  <div class="table">
    <table class="listing">
      <thead>
        <th style="white-space:nowrap"><%= sort_link "Species", 'species_name' %></th>
        <th style="white-space:nowrap"><%= sort_link "Taxon", 'assembly_name' %></th>
        <th style="white-space:nowrap"><%= sort_link "Version", 'version' %></th>
        <th style="white-space:nowrap"><%= sort_link "Description", 'description' %></th>
        <th style="white-space:nowrap"><%= sort_link "Type", 'sequence_type' %></th>
        <th style="white-space:nowrap"><%= sort_link "Sequence", 'sequence_name' %></th>
        <th style="white-space:nowrap"><%= sort_link "Accession", 'accession' %></th>
        <th>Options</th>
      </thead>
      <% @search.hits.each do |hit| %>
      <tr>
        <td><%= highlight_result(hit,:species_name_text) %></td>
        <td><%= highlight_result(hit,:assembly_name_text) %></td>
        <td><%= highlight_result(hit,:version_text) %></td>
        <td><%= highlight_result(hit,:description_text) %></td>
        <td><%= highlight_result(hit,:sequence_type_text) %></td>
        <td><%= highlight_result(hit,:sequence_name_text) %></td>
        <td><%= highlight_result(hit,:accession_text) %></td>
        <td style="white-space:nowrap">
          <%= link_to 'View', bioentry_path(hit.stored(:id)) %>
          |
          <%= link_to 'Details', bioentry_path(hit.stored(:id), :fmt => 'genbank') %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>