<% content_for :top_bar do %>
	<h1 class="pagetitle">Term</h1>
<% end %>

<%= render :partial => "admin/sidebar", :locals => {:active => 'term'} %>

<% content_for :item_bar do %>
<%= link_to 'New Term', new_admin_biosql_term_path, :class => 'button' %>
<div style="float:right">
  <%= form_tag admin_biosql_terms_path, :method => :get do %>
  <div style='float:left'>
    Ontology:<br/>
    <%= select_tag :ontology_id, options_from_collection_for_select(@ontologies, :id, :name,params[:ontology_id]), {:include_blank => 'None Selected', :onchange => 'this.form.submit()'} %>
  </div>
  <div style='float:right'>
    Search:<br/>
  	<label>
  	    <input type="text" name="query"/>
  	</label>
  	<label>
  	    <input type="submit" name="Submit" value="Search" class="button" />
  	</label>
	</div>
	<% end %>
</div>

<% end %>

<div class="table">
  <table class="listing">
  	<thead>
      <th><%= sort_link "Ontology", :ontology_id %></th>
      <th><%= sort_link "Name", :name %></th>
      <th><%= sort_link "Identifier", :identifier %></th>
      <th><%= sort_link "Definition", :definition %></th>
      <th><%= sort_link "Created", :created_at %></th>
      <th><%= sort_link "Updated", :updated_at %></th>
      <th>Options</th>
  	</thead>
  
  	<% for term in @terms %>
  		<tr>
        <td><%= link_to term.ontology.name, admin_biosql_ontologies_path %></t>
        <td><%= term.name %></th>
        <td><%= term.identifier %></th>
        <td><%= term.definition %></th>
        <td class="style3"><%= term.created_at.strftime('%b %d \'%y') %></td>
        <td class="style3"><%= term.updated_at.strftime('%b %d \'%y') %></td>
        <td>
          <%= link_to "[Details]", admin_biosql_term_path(term) %>
          <%= link_to '[Edit]', edit_admin_biosql_term_path(term) %>
          <%= link_to '[Remove]', admin_biosql_term_path(term), :method => :delete, :confirm => "Remove #{term.name} permanently?" %>
        </td>
  	  </tr>
  	<% end %>
  </table>
</div>