<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Taxon: <%= @taxon_version.name %> Version: <%= @taxon_version.version %></h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
		<%#= link_to "Upload Sequence", send("new_bioentry_path"), :class => "button" %>
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "bioentries/sidebar" %>
<% end %>


<% @taxon_version.bioentries.each do |bioentry| %>
  <h2 class="title">
    <%= link_to image_tag("eye.png",:alt => "View Sequence"), bioentry, :target => "#{bioentry.id}_sequence" %>
    <%#= link_to image_tag("table_edit.png"), edit_bioentry_path(bioentry) %>
    <%= bioentry.display_name %>
  </h2> 
  <%= render :partial => "bioentries/info", :locals => {:bioentry => bioentry} %>
<% end %>