<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'password' %><br/>
  <%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= label_tag 'is_ldap', 'Remote User?' %><br/>
<%= f.select :is_ldap, [true,false] %></p>

<p><%= f.label 'role_ids', 'Roles' %><br/>
<%= f.select :role_ids, @roles.collect{|r| [r.name, r.id]},
  {:selected => @user.new_record? ? @default_role.id : @user.roles.collect{|r| r.id}},
  {:multiple => true, :size => 3} %></p>