<% content_for :top_bar do %>
	<h1 class="pagetitle">Users</h1>
<% end %>

<% content_for :item_bar do %>
<%= link_to 'New user', new_admin_user_path, :class => 'button' %>
<div style="float:right">
	<label>
	    <input type="text" name="textfield"/>
	</label>
	<label>
	    <input type="submit" name="Submit" value="Search" class="button" />
	</label>
</div>

<% end %>

<%= render :partial => "admin/sidebar" %>

<div class="table">
  <table class="listing">
  	<thead>
  	  	<th width="20%"><%= sort_link "Email", :email %></th>
    		<th width="10%"><%= sort_link "Login", :login %></th>
      	<th width="12%"><%= sort_link "Created", :created_at %></th>
				<th width="15%"><%= sort_link "Last Login", :last_sign_in_at %></th>
  			<th>Options</th>
  	</thead>
  
  	<% for user in @users %>
  		<tr>
		  	<td class="style2"><%= user.email %></th>
    		<td class="style3"><%= link_to user.login, user %></td>
    		<td class="style3"><%= user.created_at.strftime('%b %d \'%y') %></td>
				<td ><%= user.last_sign_in_at.strftime('%b %d %I:%M %p') if user.last_sign_in_at %></td>
	    	<td class="style1">
				  <%= link_to '[Show]', :action => 'show', :id => user %>
					<%= mail_to user.email, "[Email]" %>
					<%= link_to '[Edit]', :action => 'edit', :id => user %>
					<%= link_to '[Delete]', admin_user_path(user), :method => :delete %>
				</td>
  	  </tr>
  	<% end %>
  </table>
</div>
