<div style="float:right;" id="format_links">
	<h2>
		<%= link_to_unless @format=='standard', "Standard", gene_path(@gene, :fmt => 'standard') %>
    | <%= link_to_unless @format=='genbank', "Genbank", gene_path(@gene, :fmt => 'genbank') %>
		<% if @gene.bioentry.variants.size > 0 %>
		| <%= link_to_unless @format=='variants', "Variants", gene_path(@gene, :fmt => 'variants') %>
		<% end %>
		<% if false #TODO: add expression page %>
		| <%= link_to_unless @format=='expression', "Expression", gene_path(@gene, :fmt => 'expression') if false%>
		<% end %>
		| <%= link_to_unless @format=='history', "History", gene_path(@gene, :fmt => 'history') %>
</div>