<ul class="nested-fields">
	<%= f.inputs (f.object.new_record? ? "New Gene Model" : f.object.display_name), :class => "border", :id => "gene_model_#{f.object.id}" do %>
		<%= f.hidden_field :gene_id, :value => f.object.gene_id %>
		<div style="float:right;margin-top:-2.25em;"><%= link_to_remove_fields image_tag("delete.png",:alt => "Remove Gene Model"), f%></div>
		<% new_id = Time.now.to_i %>
		<!-- CDS -->
		<%= link_to_add_fields "Add CDS to Gene Model", f, :cds, {:render => "below", :id => "new_cds_#{new_id}", :style => "#{f.object.cds ? 'display:none' : ''}", :onclick => "Ext.get('new_cds_#{new_id}').hide()"}%>
		<%= f.semantic_fields_for :cds do |f| %>
			<%= f.semantic_errors :locations %>
			<%= render :partial => 'cds_fields', :locals => {:f => f} %>
		<% end %>
		
		<!-- mRNA -->
		<%= link_to_add_fields "Add mRNA to Gene Model", f, :mrna, {:render => "below", :id => "new_mrna_#{new_id}", :style => "#{f.object.mrna ? 'display:none' : ''}",:onclick => "Ext.get('new_mrna_#{new_id}').hide()"}%>
		<%= f.semantic_fields_for :mrna do |f| %>
			<%= f.semantic_errors :locations %>
			<%= render :partial => 'mrna_fields', :locals => {:f => f} %>
		<% end %>
		
	<% end %>
</ul>