<div id="gene_history" class="table">
	<h1 class="pagetitle" style="font-size:110%">ChangeLog</h1>
	<table class="listing">
	  <thead>
	   <th>Item</th>
	   <th>New Value</th>
	   <th>Previous Value</th>
	   <th>Editor</th>
	   <th>Date</th>
	   <th>Event</th>
	  </thead>
		<% @changelogs.each do |version| %>
			<tr>
				<td><%= version.item.class.name %></td>
				<td><%= version.next ? version.next.reify.display_data : version.item.display_data %></td>
				<td><%= version.reify ? version.reify.display_data : '' %></td>
				<td><%= User.find(version.terminator).display_name rescue nil %></td>
				<td><%= version.created_at.strftime("%D %m:%M %p") %></td>
				<td><%= version.event %></td>
			</tr>
		<% end %>
	</table>
</div>