<tr class=<%= cycle("odd","even") %> >
	<td class="keyword" ><%= name %></td><td style="width:5%"></td><td></td>
	<td class="options" >
			<%= image_tag("add.gif", :style => "border:none;cursor:pointer", :onclick => "$(new_#{f.id}_note).toggle();")%>
	</td>
</tr>
<% notes = f.notes # grab before we add the new form note%>
<% cycle("odd","even")%>
<tr id="new_<%= f.id %>_note" style="display:none;">
	<td></td>
	<td></td>
	<td>
	  <% if can? :update, f %>
		  <% new_note = f.qualifiers.build(:seqfeature => f, :rank => f.notes.size + 1, :term => Term.find_by_name('note')) %>
			<% form_for new_note do |form|%>
				Create a new <%= f.display_name %> note
				<%= image_tag("delete.png", :style => "border:none;cursor:pointer;float:right;margin-bottom:1em", :onclick => "$(new_#{f.id}_note).toggle();")%>
				<%= form.submit "Add Note", :style => "float:right;margin-right:1em;margin-bottom:1em"%>
				<%= form.text_area :value, :cols => 75, :rows => 8 %><br/>
				<%= form.hidden_field :seqfeature_id %>
				<%= form.hidden_field :rank %>
				<%= form.hidden_field :term_id %>
				<br/>
			<% end %>
		<% end %>
	</td>
	<td></td>
</tr>
<% notes.each do |note| %>
	<%= render :partial => 'note_line', :locals => {:note => note} %>
<% end %>
<% if notes.empty? %>
	<tr><td></td><td><td></td></td><td></td></tr>
<% end %>
