<div style="float:left;width:650px">
<p>The entries below correspond to each Variant Experiment (SNP, Indel) uploaded for this sequence. The nucleic and protein sequence are computed from the data in each Experiment. Click <%= link_to "here",details_variants_path,:popup => true %> for details.</p>
<p>
	You can choose the number of flanking upstream and downstream bases displayed.
	<%= select_tag :window, options_for_select([0,100,500,1000],@variant_window), :onchange => "window.location='#{gene_path(@gene.locus_tag.value)}?fmt=variants&v_win='+this[this.selectedIndex].value+'&v_fmt=#{@variant_format}'"%><br/>
	You can also choose the display format
	<%= select_tag :format, options_for_select(['fasta','standard'],@variant_format), :onchange => "window.location='#{gene_path(@gene.locus_tag.value)}?fmt=variants&v_win=#{@variant_window}&v_fmt='+this[this.selectedIndex].value"%>
</p>
</div>

<div id="variants_text" class="clear">
	<% variants  = @bioentry.variants %>	
	<% @gene.gene_models.each do |gene_model| %>
		<h1 class    = "pagetitle" style="font-size:190%">
			<%= gene_model.display_name %> 
		</h1>
		<% variants.each do |variant| %>
			<div class   = "border">
				<% if @variant_format== 'standard' %>
				<h2 style="font-size:200%"><%= variant.name %> - <span style="font-size:60%;"><%= truncate(variant.description,:length => 120) %></span></h2>
				<table>
					<% if (na_seq = gene_model.variant_na_sequence(variant.id,@variant_window)) %>
					<tr class  = <%= cycle("odd","even") %>>
						<td class = "keyword">Gene Length</td>
						<td><%= na_seq.size %></td>
					</tr>
					<tr class  = <%= cycle("odd","even") %>>
						<td class = "keyword">NA Sequence</td>
						<% logger.info "\n\n#{na_seq}\n\n" %>
						<td style = "font-family:'Courier';"><pre style="overflow-x:scroll"><%= formatted_sequence(na_seq,{:rows => 9, :delimiter => "<br/>"}) %></pre></td>
					</tr>
					<tr class  = <%= cycle("odd","even") %>>
						<td class = "keyword">Protein Length</td>
						<td><%= (p_seq = gene_model.variant_protein_sequence(variant.id,@variant_window)).size rescue 0 %></td>
					</tr>
					<tr class  = <%= cycle("odd","even") %>>
						<td class = "keyword">Protein Sequence</td>
						<td style = "font-family:'Courier';"><pre style="overflow-x:scroll"><%= formatted_sequence(p_seq,{:rows => 9, :delimiter => "<br/>"}) rescue ""%></pre></td>
					</tr>
					<% end %>
				</table>
				<% elsif @variant_format == 'fasta' %>
				<h1 class    = "pagetitle" style="font-size:190%">
					<%= variant.name %> 
				</h1>
				<pre style="font-size:110%;overflow-x:scroll">><%= @gene.name %> <%= @bioentry.display_name %> from <%= gene_model.start_pos - @variant_window %> to <%= gene_model.end_pos + @variant_window %><br/><%= formatted_sequence(gene_model.variant_na_sequence(variant.id,@variant_window),{:rows => 1,:per_row => 100,:delimiter => "<br/>"}) %>
				</pre>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
