<% content_for :head do %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/extjs_css_gray" %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "sidebar", :locals => {:active => 'listing'} %>
<% end %>

<% content_for :top_bar do%>
	<h1 class="pagetitle">Listing <%= number_with_delimiter(@genes.total_entries) %> Gene Models</h1>
<% end %>

<% content_for :item_bar do %>
<!-- Filter / Search items here -->
	<div style="float:left">
		<%= link_to "New Gene", send("new_gene_path"), :class => "button" %>
	</div>	
	<div style="float:right">
		<%= form_tag genes_path, :method => :get %>
			Search on Locus Tag or Gene Name:
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag " Go ", :class => "button" %>
		</form>
	</div>
<% end %>
<p>
  Details about each Gene Model are displayed in the list below. Selecting a locus tag will open a page with even more detailed information about that gene. You can also select the sequence name to load the Sequence Viewer and display the gene model annotation.
</p>
<br/>
<%= render :partial => 'js_listing', :locals => {:height => 610} %>
