<!-- TODO: add title() helper and name tabs -->
<% content_for :head do %>
	<%= render :partial => "common/extjs_css" %>
	<%= render :partial => "common/svjs_css" %>
	<%= render :partial => "common/extjs" %>
	<%= render :partial => "common/svjs" %>
<% end %>

<%= content_for :sidebar do %>
	<%= render :partial => "sidebar", :locals => {:active => ''} %>
<% end %>

<% if @gene %>
	<% content_for :top_bar do %>
		<h1 class="pagetitle"> 
			<%= @gene.locus_tag.value + (@gene.gene.nil? ? "" : " - "+@gene.gene.value) %>
			<div style="float:right;font-size:50%;padding-top:1em">
				<%= @gene.bioentry.display_info %>
			</div>
		</h1>
	<% end %>
	
	<% content_for :item_bar do -%>	
		<div style="float:left">
			<%= link_to "New Gene", new_gene_path, :class => "button" %>
			<%= link_to "Open Sequence Viewer", bioentry_path(@gene.bioentry,{:pos => @gene.min_start,:feature_id => @gene.id},:tracks => [@gene.bioentry.six_frame_track.id,@gene.bioentry.models_track.id]), :class => 'button'%>
		</div>
		<%= render :partial => 'format_links' %>
	<% end -%>
	
	<!-- Format -->
	<div id="<%= @format %>_format" style="clear:both;">
	  <% if ['standard','variants'].include?(@format) %>
	    <%= render :partial => @format %>
	  <% else %>
		  <%= render :partial => "seqfeatures/#{@format}", :locals => {:feature => @gene} %>
		<% end %>
	</div>
	
<% else %>
	<h1 class="pagetitle"><%= params[:id] %> </h1>
	<h3 style="color:darkred">No data found</h3>
<% end %>