<% content_for :top_bar do -%>
  <h1 class="pagetitle">Edit Re-Sequencing Sample <%= @re_seq.name %></h1>
<% end -%>

<% content_for :item_bar do -%>
  <%= link_to "Cancel", @re_seq, :style => "float:left", :class => "button"%>
  <% if can? :delete, @re_seq %>
    <%= render :partial => 'shared/item_bar_toggle' %>
    <!-- Advanced Options -->
    <div style="display:none;clear:both;float:left" id="advanced_search">
      <br/>
      <%= link_to "Remove Re-Sequence", @re_seq, :method => 'delete', :class => "redbutton", :confirm => "Remove sample: #{@re_seq.name}? \n This CANNOT be undone." %>
    </div>
  <% end %>
<% end -%>

<%= render :partial => "samples/sidebar" %>

<%= error_messages_for :re_seq %>

<%= render :partial => 'samples/form', :locals => {:sample => @re_seq} %>