<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Edit Taxonomy Version: <%= @assembly.id %></h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "biosql/bioentries/sidebar", :locals => {:active => 'taxon'} %>
<% end %>

<% if @assembly.nil? %>
  Taxon Version Not found...
<% else %>
  <% form_for @assembly.becomes(Assembly) do |f| -%>
    <%= f.error_messages %>
    <p>Species:<br/><%= @assembly.species.scientific_name.name %></p>
    <p>Taxon:<br/><%= @assembly.taxon.scientific_name.name %></p>

    <p><%= f.label 'version' %><br/>
    <%= f.text_field :version %></p>
  
    <%= f.submit %> |
    <%= link_to 'Cancel',:back %>
  <% end %>
<% end %>