<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Edit Assembly: <%= @assembly.id %></h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "biosql/bioentries/sidebar", :locals => {:active => 'taxon'} %>
<% end %>

<% if @assembly.nil? %>
  Taxon Version Not found...
<% else %>
  <% form_for @assembly.becomes(Assembly) do |f| -%>
    <%= f.error_messages %>
    <h2 class="smalltitle">Taxonomy</h2>
    <p>
      <%= @assembly.taxon.ancestors.collect(&:name).join(' > ') %>
    </p>
    <!-- TODO: Shoould we allow species/taxon edit in assemblies ? -->
    <p>Species:<br/><%= @assembly.species.scientific_name.name %></p>
    <p>Taxon:<br/><%= @assembly.taxon.scientific_name.name %></p>

    <p><%= f.label 'version' %><br/>
    <%= f.text_field :version %></p>
    
    <h2 class="smalltitle">Samples</h2>
    
    <table>
      <% sample_count = 0 %>
      <tr>
        <th>#</th>
        <th><%= sort_link "Name", "samples.name" %></th>
        <th><%= sort_link "Group", "groups.name" %></th>
        <th>New Name</th>
        <th>New Description</th>
      </tr>
      <% f.fields_for :samples, @samples do |sample| %>
      <% sample_count +=1 %>
        <tr>
          <td>
          <%= sample.error_messages %>
            <%= "#{sample_count} )" %>
          </td>
          <td><%= sample.object.name %></td>
          <td><%= sample.collection_select :group_id, @groups, :id, :name %><br/></td>
          <td><%= sample.text_field :name %></td>
          <td><%= sample.text_area :description, :size => "30x1" %></td>
        </tr>
      <% end %>
    </table>
    
    <%= f.submit %> |
    <%= link_to 'Cancel',:back %>
  <% end %>
<% end %>