<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Taxonomy Versions</h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "biosql/bioentries/sidebar", :locals => {:active => 'taxon'} %>
<% end %>

<!-- TODO: Update listing, test links and add to sidebar -->
<% if @assemblies.nil? %>
  No Results Found...
<% else %>
  <div class="pagination">
    <span style="float:left"><%= will_paginate(@assemblies) %></span>
    <span style="float:right;margin-right:2em"><%= number_with_delimiter(@assemblies.total_entries) %> Matching Results</span>
  </div>

  <div class="table">
    <table class="listing">
      <thead>
        <th style="white-space:nowrap"><%= sort_link "Species", 'taxon' %></th>
        <th>Name</th>
        <th>Version</th>
        <th>Bioentries</th>
        <th>Type</th>
        <th>Options</th>
      </thead>
      <% @assemblies.each do |assembly| %>
        <tr>
          <td><%= assembly.species.scientific_name.name %></td>
          <td><%= assembly.name %></td>
          <td><%= assembly.version %></td>
          <td><%= link_to assembly.bioentries.count, bioentries_path(:assembly => assembly.id) %></td>
          <td><%= assembly.class.name %></td>
          <td>
            <%= link_to "Details", assembly_path(assembly) %>
          <% if can? :update, assembly %>
            <%= link_to "Edit", edit_assembly_path(assembly) %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
          